[2015-10-20 23:30] zpao opened #2 "Use shallowCompare from right place"
We never shipped it in React.addons. It should be used from `require('react-addons-shallow-compare')`.

(previously filed as https://github.com/facebook/react/issues/4315).

cc @pocketjoso @jardakotesovec

[2015-10-20 23:42] zpao opened #3 "Fix tests"
Right now they don't pass. Looks like trailing commas are getting added by the printer.

[2015-10-21 00:21] zpao opened #5 "Always extend from React.Component in class codemod"

[2015-10-21 00:35] #3 closed

[2015-10-21 03:27] cpojer commented on #5
Fixed in https://github.com/reactjs/react-codemod/commit/f4f8baa36d85a9c0da3b89e8205999dfc13aa9c8

[2015-10-21 03:27] #5 closed

[2015-10-21 10:12] fullvlad opened #6 "The script skips files that have mixins in them"
When running this command:
`jscodeshift -t ~/react-codemod/transforms/class.js filename.jsx`

For the files that have mixins in them I get:
`filename.jsx: 'Component' was skipped because of mixins.`

although the component is defined with `React.createClass()` and the script should create ES2015 classes.

How should I still use the script and work around mixins?

[2015-10-21 12:06] hzoo commented on #6
Mixins currently aren't able to be supported with ES6 classes so you would have to either not use ES6 clasess or remove the mixins and then run the script? Then replace the mixins (could use decorators, higher order components) https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750#.l7soi93mm

[2015-10-21 17:34] cpojer commented on #6
We do not have the static analysis tools available to be able to safely transform any kind of mixin. As @hzoo said, you have to remove all your mixins first. If you have many files with the same mixins, you can write a script that updates these files and removes the mixins. Otherwise I'd recommend just doing it manually.

[2015-10-21 17:34] #6 closed

[2015-10-22 14:01] eschaefer opened #7 "pure-render-mixin transformation error"
Getting error:
[code]

when running the `pure-render-mixin.js` on example component:

[code]

I have tried passing the `--mixin-name=TranslationsMixin` flag, but no luck. Any idea what could be the issue?

[2015-10-22 14:06] eschaefer commented on #7
Ah nevermind, this is because of the ES6 `import`s. It works if the mixin is `require`d. Might just do some mass find-and-replacing before running this on the rest of my components.

[2015-10-22 14:06] #7 closed

[2015-10-27 22:59] cpojer commented on #2
The sad thing about this is that I'll have to add a require/import statement which is hard :)

[2015-10-29 05:52] TheSavior opened #8 "Build Warning"
Thanks for updating the test suite. There is currently a build warning:

[code]

[2015-10-29 05:57] cpojer commented on #8
This is actually expected. It is a little unfortunate how we print messages from tests given the parallel nature of jest. This log is coming from the class transform and only means that a class was (correctly) skipped. The test should probably spy on console.log and not actually print this :)

[2015-10-29 05:57] #8 closed

[2015-11-10 22:17] jketcham commented on #2
Can there be something mentioning this in the README perhaps? I just stumbled upon this problem when using react-codemod to update from 13.3 to 14.2, and reading it beforehand would've helped the troubleshooting when upgrading.

[2015-11-14 02:14] graue opened #14 "create-element-to-jsx doesn't handle props objects"
The create-element-to-jsx transform attempts to make replacements like this:

[code]

Expected:

[code]

[2015-11-15 04:07] #14 closed

[2016-01-05 14:53] lifehackett opened #22 "findDOMNode script"
Why does the script convert
`this.refs.injectButton.getDOMNode().focus();`

into
`React.findDOMNode(this.refs.injectButton).focus()`

My understanding of the changes to `refs` is that the original code could be transformed to
`this.refs.injectButton.focus()`
which if equivalent functionally seems like a better solution.  In the docs it even mentions that using `findDOMNode()` will be unnecessary i

[2016-01-05 14:55] cpojer commented on #22
This was unsupported in React previously if I recall correctly and it was the easier upgrade path for us at Facebook.

[2016-01-05 14:55] #22 closed

[2016-01-05 15:13] lifehackett commented on #22
Thanks for the quick response.  I'm going to make that change for my own project then since there doesn't seem to be any risk.  Would a PR to update be useful to you?

[2016-01-05 15:13] cpojer commented on #22
I don't think there is a way without static typing to say with confidence that the ref you are receiving will be a DOM node. It might be a React component.

[2016-01-05 15:15] lifehackett commented on #22
That would be the case if it was one of the native HTML components (e.g. <input>)?

[2016-01-05 15:15] cpojer commented on #22
There is no way currently to know in a codemod whether the ref is a React component or a DOM node, yes.

[2016-01-05 15:16] lifehackett commented on #22
Ok thanks

[2016-02-04 01:10] lencioni opened #27 "Add support for ES6 classes in sort-comp"
In a comment in sort-comp, I noticed the following comment:

It would be really lovely if this worked with ES6 classes. :smiley_cat:

[2016-02-04 01:11] cpojer commented on #27
we are not taking support requests for this repository. We'll publish React codemods that we build at Facebook and are happy to take pull requests – feel free to dabble into the code and send us one ;)

[2016-02-04 01:11] #27 closed

[2016-02-27 11:41] chrismcv opened #34 "Create JSX - file skipped with no explanation"
Hi, I'm playing with this for this first time.  My test file is being skipped, and nothing is being logged as to why.

[code]

Is there any way I can get more output from it?

[2016-02-27 14:07] cpojer commented on #34
Can you paste the file that is being skipped?

[2016-02-27 14:11] chrismcv commented on #34
https://gist.github.com/chrismcv/b0de8c90337e9bdce9a1

[2016-02-27 14:13] cpojer commented on #34
I guess you can comment out https://github.com/reactjs/react-codemod/blob/master/transforms/create-element-to-jsx.js#L121 Other codemods in this repo have a `--no-explicit-react` flag, see https://github.com/reactjs/react-codemod/blob/master/transforms/findDOMNode.js#L128 – feel free to send a pull request that adds this to the create-element-to-jsx codemod.

[2016-02-27 14:19] chrismcv commented on #34
Thanks - that was it. PR submitted

[2016-02-27 14:19] #34 closed

[2016-03-03 09:18] cpojer commented on #2
I don't think anyone is going to get to this and it's now been so long that few people actually need this particular codemod, so I'm going to go ahead and close this.

[2016-03-03 09:18] #2 closed

[2016-03-17 00:06] benwalsh opened #36 ""Unknown encoding" error"
I've tried saving my files in various encodings both in Sublime Text and by converting using `iconv` but I get encoding errors every time:

MacOS 10.11.3, node 5.7.0, npm 3.6.0

[code]

[2016-03-17 00:09] cpojer commented on #36
This is most likely not an issue with react-codemod and definitely out of the scope of this project. react-codemod is also one of our self-service repositories, we don't really fix community issues but we are happy to take Pull Requests.

I'm gonna cc @fkling just in case he has seen this before around jscodeshift, although I doubt it is related to jscodeshift.

[2016-03-17 00:09] #36 closed

[2016-04-28 20:29] pruett opened #41 "Way to check why files are being skipped"
Is there a way to see why files are being skipped? It seems like no matter what transform I use, my .js file will be skipped. Thanks.

[2016-04-28 23:05] cpojer commented on #41
It is likely that they don't meet any of the basic conditions. For example, we check whether you require React: https://github.com/reactjs/react-codemod/blob/master/transforms/class.js#L499-L501 You can pass `--no-explicit-require` to skip this check.

[2016-04-28 23:05] #41 closed

[2016-05-02 03:43] camjc opened #42 "PureComponent doesn’t work with React.Component destructured"
We use
[code]
and the PureComponent transform skips all of these. Even if this doesn't get fixed its worth noting here in case someone else is wondering why all their files are being skipped.

[2016-05-02 13:37] reergymerej commented on #42
`ReactUtils` checks for ES6 class declarations that match the pattern `extends React.Component`.  I'm working on a PR to augment this now.  In the meantime, you can change the class definition and it should work.

[2016-05-02 15:59] reergymerej commented on #42
Whoops.  Look like this is dependent on the react-native PR.

[2016-05-09 01:09] #42 closed

[2016-05-09 13:37] reergymerej opened #44 "sort-comp customization"
It would be nice to pick up the specific sort order defined in .eslintrc if not provided through the CLI options before falling back to the airbnb order.

[2016-05-09 21:44] cpojer commented on #44
cc @lencioni

[2016-05-09 21:54] lencioni commented on #44
This makes sense to me. I'd be happy to review a PR!

[2016-05-09 23:49] reergymerej commented on #44
I'll get on it.

[2016-05-14 05:07] rossPatton commented on #41
I can't get any of the codemod scripts to work on my codebase. Probably because we still use closure. Even with `--no-explicit-require` Having an error message would help me pinpoint what I need to change in order for things to work.

Moving off closure is unfortunately a no-go at this point, and the codebase is big enough that a codemod would save me a lot of time, but at this point it would have

[2016-05-14 05:10] cpojer commented on #41
I believe the codemod only looks for var declarations or `module.exports`, so `var Foo = React.createClass` will work but `Foo.bar = React.createClass` will not.

Note that this repo is a self-service repo in that we are happy to accept pull requests but we will not be actively fix community issues. We are simply providing codemods that were useful at Facebook for our codebase or accepting contrib

[2016-05-18 18:47] sibeliusseraphini opened #46 "recast option --printOptions='{"quote":"single"}' are not working"
`jscodeshift -t transform.js <path> --printOptions='{"quote":"single"}'`

is not working

[2016-05-18 18:47] sibeliusseraphini commented on #46
it is fine

[2016-05-18 18:49] #46 closed

[2016-05-31 13:06] miraage opened #47 "react-to-react-dom does not work with es6 import"
Files are simply skipped due this code:
[code]

In order to workaround es6 imports there should be something like:
[code]

I'm dumb in AST, so I can't make a PR.

[2016-05-31 13:58] reergymerej commented on #47
There should be at least partial support for this (see #42).  Can you provide an example of the source that is being skipped, please?

[2016-05-31 15:31] miraage commented on #47
[code]

[2016-05-31 16:21] reergymerej commented on #47
Thanks. I'll see if I can get a PR in this afternoon.

[2016-05-31 16:29] cpojer commented on #44
ping? :)

[2016-05-31 16:31] reergymerej commented on #44
After a cursory glance, I realized this may be more complex than I thought.  Pulling in eslint config happens in a variety of ways that I don't want to reinvent.  I still think it's a good idea, just not sure how to approach getting the eslint config options smartly.

[2016-05-31 16:37] cpojer commented on #44
Is there an API in eslint that gives you a configuration for a given file?

[2016-05-31 16:39] reergymerej commented on #44
Not one that I found, surprisingly.  I'd be happy for someone with more Eslint experience to prove me wrong.

[2016-05-31 16:44] lencioni commented on #44
You can use ESLint to get the config for any given file. Here's an example:

[code]

https://github.com/Galooshi/import-js/blob/dbb69adaff0e4912d9a758e77a9e39cbaf944c03/lib/Importer.js#L102-L103

Docs: http://eslint.org/docs/developer-guide/nodejs-api#getconfigforfile

Although, this might make Jest unhappy: https://github.com/facebook/jest/issues/1048

[2016-05-31 16:49] reergymerej commented on #47
@miraage I just realized this may be intentional.

[readme][1]

Have you tried running [findDOMNode][2] before react-to-react-dom?

[1]: https://github.com/reactjs/react-codemod#react-to-react-dom
[2]: https://github.com/reactjs/react-codemod#finddomnode

[2016-05-31 17:35] miraage commented on #47
Sure. It worked awesome on code with `this.getDOMNode()`, but not `React.findDOMNode()`.

[2016-05-31 18:25] cpojer commented on #44
I'll happily fix the Jest issue. @reergymerej can you make this work?

[2016-05-31 19:29] reergymerej commented on #44
@cpojer Yeah, thanks to @lencioni putting me on the right track.  Reading the config seems pretty straight-forward, just trying to figure out how best to get it to play nicely with the *real* lint rules.  I'll try and get a PR soon.

[2016-05-31 19:33] cpojer commented on #47
The react-dom codemod just hasn't been updated. You can send a pull request to add the detection for import statements, just like other codemods do, like the class codemod.

[2016-05-31 21:24] cpojer commented on #44
Closing, PR will be merged shortly.

[2016-05-31 21:24] #44 closed

[2016-06-01 00:46] reergymerej commented on #47
I'm going to take a stab at this in a minute. There's a util file that I thought all the codemods were using for this sort of thing. I'll try and sort them out.

[2016-06-01 03:16] reergymerej commented on #47
Looks like there were no tests for react-to-react-dom, so it's slow going teasing it apart without breaking anything.  I've got a fork that I'm working on I'll submit for a PR, but it won't be quick.

[2016-06-01 07:43] miraage commented on #47
@reergymerej thank you.

[2016-06-01 07:43] #47 closed

[2016-06-01 10:31] reergymerej commented on #47
You're welcome. I wouldn't close this yet though. ;)

[2016-06-02 14:54] ondrejsevcik opened #51 "sort-comp is not working"
Hi, when I run `sort-comp` transformation, it throws following error:
[code]

I've run `npm install` within `react-codemod` directory but it didn't help.

[2016-06-02 16:03] cpojer commented on #51
cc @turadg

[2016-06-02 17:23] cpojer commented on #51
fixed on master!

[2016-06-02 17:23] #51 closed

[2016-06-02 17:24] reergymerej commented on #51
[getConfigForFile][1] isn't finding the airbnb plugin.  I've replicated with globally and locally installed [airbnb config]s[2].  I added a try...catch around it, but we should probably figure out the scope of this.  Is it just this plugin, only when extending, etc?

[1]: http://eslint.org/docs/developer-guide/nodejs-api#getconfigforfile
[2]: https://www.npmjs.com/package/eslint-config-airbnb

[2016-06-02 17:26] cpojer commented on #51
It's probably some npm module that has an eslintrc shipped with it but is installed as a regular dependency so its dev dependencies aren't there. You should probably not run codemods on node_modules folders, but it doesn't hurt to silently ignore this.

[2016-06-02 18:08] reergymerej commented on #51
Looks like this is an [ESLint issue](https://github.com/eslint/eslint/issues/6315).

[2016-06-02 18:28] ondrejsevcik commented on #51
Thank you guys for such a quick fix :+1:

[2016-06-14 21:26] dejakob opened #56 "pure-component does not check for refs"
A component can only be converted into a stateless component if it does not use refs on its children. The current codemod does not check for it.
Still amazed by these codemods, but this could be a great improvement...

[2016-06-15 19:52] #56 closed

[2016-06-26 16:03] alangpierce opened #59 "create-element-to-jsx doesn't preserve comments"
It looks like the `create-element-to-jsx` transform silently throws away comments within `React.createElement` calls. Ideally, it should find some way to preserve the comments, or maybe give an error so I can fix those files manually, but if that's too hard or out of scope, I think the behavior should at least be documented.

For example, if you run it on this file:
[code]

It produces this:
[code

[2016-06-28 01:55] cpojer commented on #59
Please note we don't really take support requests for codemods but we happily will accept pull requests that improve them.

cc @TheSavior

[2016-06-28 01:55] #59 closed

[2016-06-28 03:22] alangpierce commented on #59
Ok. If it's ok, I'll send a PR to add a warning about the issue to the README. I also may eventually try modifying `create-element-to-jsx` to preserve comments, and I'll send a PR for that if I can get it working.

It might be good if you added a little more context to the README about the purpose and origin of the repo, how suitable the transforms are for general use, and how you approach externa

[2016-06-28 03:48] cpojer commented on #59
Sorry, we just don't have the volume to support this repo officially. It is mostly just a collection of react related codemods that we have run either internally at Facebook or that contributors have built. After we are done running a codemod, we usually don't need to run it a second time and we rely on the community to improve the codemods for their use cases.

If you'd like to see this fixed I'd

[2016-06-28 04:53] alangpierce commented on #59
No problem at all, I understand.

Thanks for the pointer! :-)

[2016-07-07 15:06] rcsole opened #62 "Class mod breaks on arrow function getInitialState"
Hi!

So I ran into an issue where running the mod when `getInitialState` is an arrow
function it breaks (code has been changed due to corporate IP...):

[code]

The error message would be this:

[code]

[2016-07-07 21:55] reergymerej commented on #62
Thanks for the info, @rcsole.  Will you be able to submit a PR to fix it?

https://github.com/reactjs/react-codemod#support-and-contributing

[2016-07-07 22:23] keyanzhang commented on #62
Thanks @reergymerej and @rcsole. Please notice that the `class` codemod will be replaced by https://github.com/reactjs/react-codemod/pull/54#issuecomment-225967578 soon. As @reergymerej mentioned, most of the codemods in this repo are used by Facebook internally -- we try to support the community's needs as much as possible but we won't be able to cover every edge case. Internally at Facebook we d

[2016-07-07 22:27] keyanzhang commented on #62
Thanks @reergymerej and @rcsole. Please notice that the `class` codemod will be replaced by https://github.com/reactjs/react-codemod/pull/54#issuecomment-225967578 soon.

As @reergymerej mentioned, most of the codemods in this repo are used by Facebook internally -- we try to support the community's needs as much as possible but we won't be able to cover every edge case. Internally at Facebook we

[2016-07-07 22:27] #62 closed

[2016-07-07 23:46] cpojer commented on #62
Just to clear it up: we are happy to take all and any PRs on this repo as long as there are proper tests for it and the code is in a good shape :)

[2016-07-08 19:19] keyanzhang opened #63 "Remove `npm-shrinkwrap.json` after recast updates"

[2016-07-08 20:15] ritz078 opened #64 "TypeError: Cannot read property 'start' of null in pure_component.js"
Here's the error:

[code]

[2016-07-08 20:16] keyanzhang commented on #64
Thanks for reporting this. Could you provide a sample of the code that caused this error?

[2016-07-09 16:33] ritz078 commented on #64
[code]

[2016-07-20 19:52] jozanza opened #70 ""react/sort-comp" regexes are ignored"
Looks like regular expression values in this eslint property are ignored. For example:

[code]
gives the same output as

[code]

[2016-07-22 00:02] #70 closed

[2016-08-14 06:48] DrewML commented on #64
Huh. So this was/is failing because the `node` being returned for this `ClassDeclaration` is missing the `loc` object (it's `null`). Reproducible [here](http://astexplorer.net/#/PifJKAJ3we/1).

Could be fixed in this codemod itself by not reporting line/column information whenever it's missing (luckily this is only happening when the codemod tries to report that a `Class` was skipped), but this is

[2016-08-19 21:08] lsanwick opened #72 "Publish current version to NPM?"
The current version on NPM is 2.0.0 and the repo is at 4.0.0. Can we publish the current version?  I want to use the `sort-comp` transform without having to clone and build the repo.

[2016-08-22 14:15] keyanzhang commented on #64
Thanks @DrewML! Sorry I've been traveling and just got back to the states. Could you try to switch to the Flow parser to see if it fixes the issue?

[2016-08-27 14:39] cpojer commented on #72
done.

[2016-08-27 14:39] #72 closed

[2016-08-31 02:19] mcmar opened #74 "React.DOM.div not transformed"
I noticed that this will transform `React.createElement`, but not `React.DOM.div`, which is just a convenience wrapper. I have a large codebase that I'm going to need to transform very soon and it's all using `React.DOM.div` (or `span`, `a`, etc). It sounds like it would be easy to make that work the same as `React.createElement`. What do you think?

[2016-08-31 09:13] petrbrzek opened #75 "getInitialState isn't transformed into constructor this.state"
**Before:**

[code]

**After: (that's how it works now)**

[code]

**But it should be this:**

[code]

[2016-08-31 11:07] cpojer commented on #75
No, this is intentional. The new codemod expects you to use the class properties transform.

cc @keyanzhang

[2016-08-31 11:07] #75 closed

[2016-08-31 11:09] cpojer commented on #74
Yeah, make a codemod using astexplorer and submit a pull request here including tests if you'd like :) We don't really take requests in this repo, we are just sharing codemods that we or others build with more people.

[2016-08-31 11:09] #74 closed

[2016-08-31 12:20] keyanzhang commented on #75
Yeah, we don't need to create a constructor when the initial state is simple. The updated README explains how it works :)

[2016-08-31 16:31] alangpierce commented on #74
@mcmar I solved this same problem in the codebase for my company. In my case, we're in the process of converting lots of legacy CoffeeScript without JSX to JavaScript with JSX (mostly using [decaffeinate](http://decaffeinate-project.org/), and one of the later steps (once the code is in JavaScript) is changing our shorthand `rd.div` to `<div>`. I ended up writing a jscodeshift script to convert ou

[2016-09-10 03:58] #63 closed

[2016-09-12 11:32] ritz078 commented on #64
any update on this ?

[2016-09-23 17:43] surgeboris commented on #64
I've encountered same problem. Neither `--parser babylon` nor `--parser flow` does solve issue.
So I've created PR https://github.com/reactjs/react-codemod/pull/78

[2016-10-07 08:54] okonet opened #85 "Pure component transform transforms classes with class properties initializers"
This class that is using class property initializers

[code]

gets transformed to:

[code]

It should not.

[2016-10-07 09:06] cpojer commented on #85
Hey Andrey!

We don't actually have resources to fix bugs in this repo, we simply share what works for us or other members in the community. If you'd like see this fixed you'll likely have to send a pull request yourself :)

[2016-10-07 09:07] danharper commented on #85
I've got a PR open to fix this :) #84

[2016-10-07 09:58] okonet commented on #85
@cpojer I think we have a winner here! Can the #84 from @danharper be merged any soon?

[2016-10-17 11:20] Harsay opened #86 "ReactUtils can't detect the component if it extends different component extending React.Component"
Let's take this scenario into consideration:

[code]

[code]

When using e.g. `sort-comp` it skips components extending other component extending React.Component.

My temporary fix was changing:

[code]

to

[code]

[2016-10-20 08:29] rubencodes opened #87 ""Cannot read property 'Symbol(Symbol.iterator)' of undefined""
Wasn't sure if I should report this here or with the `jscodemod` folks. I ran `npm -g list jscodeshift` which installed the latest `jscodeshift`, then tried running:

`jscodeshift -t ~/Downloads/react-codemod-master/transforms/pure-render-mixin.js ./ -d -p`

Which gave me the following error:

[code]

Possible separate issue (unsure): I tried running it on a specific file, `./Components/App.jsx`,

[2016-11-06 15:52] #64 closed

[2016-11-06 15:57] cpojer commented on #87
Sorry, we don't provide help on this repo - it is more self-service as we don't have capacity to provide full open source support :(

[2016-11-06 15:57] #87 closed

[2016-11-06 15:57] #86 closed

[2016-11-06 15:58] cpojer commented on #86
Please feel free to send a PR.

[2016-11-06 16:00] #85 closed

[2016-11-06 19:35] kevinbarabash opened #88 "class transform is broken"
From the most recent [travis-ci build](https://travis-ci.org/reactjs/react-codemod/builds/173685402):
[code]

I saw the same failures when running `npm install` locally.

Looking at the [build history](https://travis-ci.org/reactjs/react-codemod/builds) it appears that https://github.com/reactjs/react-codemod/commit/84ef7b73b7abc21ee9ca537b59b53bbc0a690ac4 is good but https://github.com/reactjs/re

[2016-11-06 20:04] cpojer commented on #88
Oops, something must have gone wrong.

@keyanzhang are you around to help out on this? :)

[2016-11-07 15:57] fkling commented on #88
https://github.com/benjamn/ast-types/commit/4c7b343b37ba8ed3efd75fe22de79bc568ad92f8 adds Babel 6 node definitions to ast-types, which seems to override the es6 definitions. cc @hzoo, @benjamn

[2016-11-08 14:44] hzoo commented on #88
Ah ok, sorry about that @kevinbarabash will look into it

[2016-11-08 15:01] hzoo commented on #88
Made a PR https://github.com/benjamn/ast-types/issues/194

[2016-11-08 15:17] kevinbarabash commented on #88
@hzoo thanks.

[2016-11-13 17:42] kevinbarabash commented on #88
I reinstalled my version jscodeshift and things seem to be working.  Some of the react-codemod tests are still failing b/c of what looks like dangling comma differences in the fixtures.

[2016-11-14 01:07] keyanzhang commented on #88
Hmm, a rest parameter should never have a trailing comma. I'll fix it.

[2016-11-14 04:07] keyanzhang commented on #88
Also submitted benjamn/recast#341 to control the printing of spaces inside array and object patterns. Let's keep this issue open for visibility until tests pass. Thanks @kevinbarabash!

[2016-11-17 17:12] mladenp opened #89 "Don't skip files conversion because of mixins?"
I want to leave mixins and use them with a 3rd party lib.
When i try to convert components that have mixins in them they get skipped, can i somehow ignore that and still convert components to classes?

[2016-11-17 17:17] rosswarren commented on #89
@mladenp I don't think there is a reliable way to get mixins working in ES6 React classes. What are you expecting the output to be after the conversion has completed?

I think the expectation is that you refactor your `React.createClass` component to no longer depend on a mixin before running the conversion to some other technique like using a higher-order component.

[2016-11-17 20:10] mladenp commented on #89
It seems you are right, i didn't think of that. I can't just leave mixins 'as is' even with 3rd party lib for mixins in ES6 because of different syntax.
Ii'll need to rewrite those components manually any way.

[2016-11-17 20:10] #89 closed

[2016-11-29 04:26] #88 closed

[2016-12-29 15:24] andy-j-d opened #93 "Destructuring for pure-component"
Would anyone be interested in an option for the pure-component transform that would destructure the props where possible - i.e. when there's no `{...this.props}` or `doStuff(this.props)` and only keys of `this.props` are used?
I would be down to open a PR if so.

So

[code]

Would become

[code]

[2016-12-31 16:47] andy-j-d commented on #93
Opened PR #94 - closing

[2016-12-31 16:47] #93 closed

[2017-03-21 22:26] pruett opened #97 "Debugging skipped files"
Is there a way I can see why my files are being skipped on the `create-element-to-jsx` transform? I tried using astexplorer but had no luck. Any advice would be appreciated. Thanks.

The output shows:
[code]

[2017-03-22 13:57] nifgraup opened #98 "Buggy conversion"
MyComponent.jsx:
[code]
[code]
output:

[code]

[2017-03-24 01:53] pruett commented on #97
Closing issue as it was a result of the way we required files. Passing `--no-explicit-requires` fixed the issue

[2017-03-24 01:53] #97 closed

[2017-03-28 13:17] grks opened #100 "Output is wasting memory?"
Invalid

[2017-04-07 22:22] kentcdodds opened #104 "React-PropTypes-to-prop-types.js has a transformation error"
When trying to upgrade to the latest version of React (migrating prop types and create class stuff), I found a LOT of errors with this particular codemod when running it on my codebase:

[code]

Here's what that `__tests__/skip-to-xoom.js` file looks like:

[code]

Any ideas?

[2017-04-07 22:24] kentcdodds commented on #104
Note that I did get errors for files that _do_ actually utilize PropTypes (like this one):

[code]

[2017-04-07 22:28] kentcdodds opened #105 "react-codemod/transforms/class.js has a issues"
I'm just here to say thanks for this! I'm really amazed at how well it works and I was pleasantly surprised that it doesn't just force an import of `create-react-class` but it will actually codemod to ES6 class (with public class fields) if it's not using mixins :tada: thanks!

[code]

[2017-04-07 22:42] kentcdodds commented on #105
Actually... 😅 I think I found a few problems:

1. The import is set to: `import createReactClass from 'react-create-class'` but I believe the package was changed to `'create-react-class'` instead, so that should probably be updated.
2. It also entirely removes my React import in some cases, which gives me trouble when transpiling JSX :)

Sorry :-/

[2017-04-08 02:48] acdlite commented on #105
Oops, forgot to update the default for the `create-class-module-name` option: https://github.com/reactjs/react-codemod/blob/master/transforms/class.js#L66

Regarding number 2, can you copy-paste a test case where the import gets removed erroneously? Surprised we didn't encounter that one internally.

[2017-04-08 03:06] acdlite commented on #105
Fixed issue 1.

Steps to reproduce 2 would be appreciated, please :)

[2017-04-08 10:22] lloydh commented on #104
Yeah, I'm seeing the same error.

[2017-04-10 07:18] chentsulin opened #108 "React-PropTypes-to-prop-types Add unnecessary semicolons"
Should not add semicolons like below:

[code]

[2017-04-10 07:28] notgiorgi opened #110 "React-PropTypes to prop types: Transformation Error: Cannot read property 'name' of undefined"
I ran:
[code]
It this error on almost every file:
[code]

[code]

results:
[code]

I use babel-loader with this config:
[code]

but as jscodeshift `--babel` flag defaults to true, I think this shouldn't be an issue.

[2017-04-10 07:30] notgiorgi commented on #108
If you use eslint, run it with `--fix` flag to remove them.

[2017-04-10 07:36] notgiorgi commented on #110
then I added `--extensions js,jsx`

results were
[code]

same error, and only some of the files were fixed

[2017-04-10 07:39] notgiorgi opened #111 "React-PropTypes to prop types: unnecessary `import 'react'`"
If I have separate file for proptypes, it still imports react
[code]

[2017-04-10 07:39] notgiorgi commented on #111
semicolon issue is already mentioned #108

[2017-04-10 07:41] notgiorgi commented on #110
this is already open #104

[2017-04-10 07:41] #110 closed

[2017-04-10 14:45] abhijeetNmishra opened #112 "Cannot read property 'name' of undefined, prop-types transformation"
I have many components for which prop-types transformation happening correctly, but for other components its failing with following error

[code]

One such component code example is
[code]

Help!

[2017-04-10 15:38] reergymerej opened #113 "React-PropTypes did not create new `import` statement"
When a file being transformed requires styles [like this](https://github.com/halt-hammerzeit/webpack-isomorphic-tools#a-simple-example) but uses `import` statements, the transform does not create the `import PropTypes from 'prop-types';`

[2017-04-10 22:12] taylor-smith commented on #112
Check out PR #106

[2017-04-11 18:21] ron23 opened #119 "conversion bug"
import {Component, PropTypes} from 'react';

converted to:
import { Component } from 'react';

and didn't create 'import PropTypes from 'prop-types';'

using the fixed: https://github.com/solidwareio/react-codemod/commit/7eb11895bcf5148754f159ddbd6364cf1d87e828

Update:
Also:
import {PropTypes} from 'react';
converted to:
import 'react';

[2017-04-11 18:29] ron23 commented on #119
Not sure that's actually the reason, but I noticed it happens when I have another import:
import ImmutablePropTypes from 'react-immutable-proptypes';

[2017-04-12 15:44] FezVrasta opened #120 "PropTypes transformation completely broken?"
I'm trying to run the PropTypes transformation on my code base but the only file it (wrongly) updates is a file containing a single propType specification:

[code]

All my other files are simply ignored (they are very basic components):

[code]

What happens?

[2017-04-12 17:21] andy-j-d commented on #120
I had this same issue. First time I ran it, I got the "name of undefined: error. Re-ran using https://github.com/reactjs/react-codemod/pull/115 and https://github.com/reactjs/react-codemod/pull/116/files, both of which ran without errors but skipped all 100+ files with React.PropTypes imports.

The imports are all either

`import React, { PropTypes } from 'react';`
or
`import React, { Component, P

[2017-04-12 17:22] FezVrasta commented on #120
Btw I simply used TextMate 2 with:

[code]

[code]

Not elegant? Probably. It worked? Absolutely.

[2017-04-12 19:59] erosenberg commented on #105
@acdlite - I'm encountering problem 2. I am getting a whole bunch of `SyntaxError`s pre-JSX compiling it seems. Are there any good work-arounds?

[2017-04-12 20:13] kentcdodds commented on #105
Sorry I never got around to reproducing it. @erosenberg, I'm sure that @acdlite could still use some help reproducing the problem ;)

[2017-04-12 21:21] erosenberg commented on #105
I actually believe my error was resolved once I took `react-codemod` out of my project folder and into a general folder. I was also running into some issues with ESLint when I ran `yarn` within `react-codemod` at first, but that also went away when I isolated the folder. Originally I had tried to simply `npm install react-codemod` and didn't do it separately from my project. I'm not sure if that h

[2017-04-12 23:33] phiresky commented on #74
@alangpierce thanks, this worked for me with minor modifications.

Another hint, full list of tags from [here](https://github.com/facebook/react/blob/master/src/isomorphic/classic/element/ReactDOMFactories.js) is

[code]

[2017-04-13 05:55] merlinpatt commented on #120
Why does this cause an issue with some files and not others?

I never used the destructured import and always set propTypes with `React.PropTypes`, so I don't get why I would get this error

[2017-04-13 08:15] Vilkku opened #123 "class.js complains about deprecated API calls that are not used with React"
Did a dry run and got the following message:

I do indeed use replaceState, but the context is history.replaceState (https://developer.mozilla.org/en-US/docs/Web/API/History_API), not React, so I believe there should not be a problem, the function names just happen to be the same.

[2017-04-13 13:40] ericdfields commented on #104
Still seeing this. Is it because my babel setup is in my webpack instead of babelrc?

[2017-04-13 14:06] ltchronus opened #124 "TypeError: Cannot read property 'parent' of undefined"
I have some components that transform incorrectly as blow:
[code]
My component example is
[code]

related code
[code]

[2017-04-13 14:15] ltchronus commented on #124
#117

[2017-04-13 19:53] BossGrand opened #125 "create-element-to-jsx: All files being skipped, even though react is included"
not sure why but all my code is being skipped over without explantion

this is how I call the command

[code]

here is a sample of one of my files that is being skipped

[code]

output

[code]

[2017-04-14 01:52] chrisdhanaraj opened #126 "Destructured parameters throws error in PropTypes transform"
Hey there!

So our codebase has a component like this

[code]

The codemod currently breaks on the destructured parameter - if I swap it over to

[code]

The codemod runs perfectly fine and outputs as expected.

The error is below

[code]

[2017-04-14 04:20] chrisdhanaraj commented on #126
Oh actually, looks like https://github.com/reactjs/react-codemod/pull/116 solves this issue :)

[2017-04-14 04:24] #126 closed

[2017-04-14 04:24] bvaughn commented on #126
Oh, so it does. Good catch. I'll tag that PR.

[2017-04-14 04:47] bvaughn commented on #124
This has been fixed in master! Sorry for the inconvenience.

[2017-04-14 04:47] #124 closed

[2017-04-14 04:48] bvaughn commented on #120
I believe this has been fixed in master! Please reply here if I am incorrect. Sorry for the inconvenience.

[2017-04-14 04:48] #120 closed

[2017-04-14 04:48] bvaughn commented on #113
This has been fixed in master! Please reply here if I am incorrect. Sorry for the inconvenience.

[2017-04-14 04:48] #113 closed

[2017-04-14 04:48] bvaughn commented on #112
This has been fixed in master! Please reply here if I am incorrect. Sorry for the inconvenience.

[2017-04-14 04:48] #112 closed

[2017-04-14 04:48] bvaughn commented on #111
I believe this has been fixed in master! Please reply here if I am incorrect. Sorry for the inconvenience.

[2017-04-14 04:48] #111 closed

[2017-04-14 04:50] bvaughn commented on #119
I believe this has been fixed in master! Please reply here if I am incorrect. Sorry for the inconvenience.

[2017-04-14 04:50] #119 closed

[2017-04-14 04:56] bvaughn commented on #108
Sorry @chentsulin!

I think it's reasonable for the codemod to insert semicolons and for you to remove them via eslint (or similar) if they don't fit your project style. Sorry for the inconvenience!

[2017-04-14 04:56] #108 closed

[2017-04-14 04:58] bvaughn commented on #104
Hey @kentcdodds! Sorry for not seeing this issue earlier. Have had my hands full the past few days.

I committed a few bug fixes this evening that should resolve the issues you reported above. (I ran the code snippets you provided to make certain.)

One thing to note: In your second example, the codemod _will_ insert semicolons after the `react` and `prop-types` imports. (Sorry!)

[2017-04-14 04:58] #104 closed

[2017-04-14 05:01] kentcdodds commented on #104
No worries. Understandable :)

Great! Thanks!

No worries! We can autofix that away!

[2017-04-20 07:39] jlmbaka commented on #125
I'm experiencing the same issue with `React-PropTypes-to-prop-types.js`

[2017-04-20 13:53] A-Dubz commented on #125
@jlmbaka I used the command:
`jscodeshift --extensions jsx -t react-codemod/transforms/React-PropTypes-to-prop-types.js <dir-path-with-jsx-files>`.
Successfully transformed all my jsx files.  I haven't tested it on js files though.

[2017-04-20 16:28] mute opened #134 "`prop-types` codemod fails for explicit, nested destructuring"
Given a `PropTypes` import that looks like this:

[code]

the `prop-types` codemod will insert `import PropTypes from 'prop-types';` but will remove the destructuring assignment completely, leaving `shape`, `bool`, `number`, and `string` undefined.

[2017-04-20 16:41] bvaughn commented on #134
Hey @mute! Thanks for filing this!

I don't think we use nested destructuring in FB code much (or at least I haven't seen it).

Would you be interested in submitting a PR to update the codemod to handle this? I'd be happy to review it!

[2017-04-21 00:24] misund opened #135 "Class transform fails for files with non-ASCII chars in template literals"
Transforming a file with a template literal that contains a non-ASCII character will not work.

Any two-byte character seems to bump `rightBackTickPos` (determined by `node.loc.end`) 1 higher than what [this assert](https://github.com/benjamn/recast/blob/5bfd3f2fb9df404c1178e74516eca2bcc691ad43/lib/util.js#L274) in `recast`'s util.fixTemplateLiteral expects.

The parser seems to count the position

[2017-04-21 01:04] alangpierce commented on #125
@BossGrand the `create-element-to-jsx` script returns `null` when it doesn't make any changes, which jscodeshift interprets as "skipped" rather than "no change", so I guess it's a minor bug in how that script reports its results. In your case, your file had no usage of `React.createElement`, so there was nothing to transform. If you throw a `React.createElement('div');` in your code, you should se

[2017-04-21 06:26] mute commented on #134
@bvaughn I put up a PR that does some initial work for it but I don't have enough experience with `recast` or `jscodeshift` to get the builder syntax correct. So, it works but it's not ideal.

If you have the time to update the section where I added the TODO to use the correct builder format to generate a destructuring statement, that would put it in a better place.

[2017-04-21 23:05] #134 closed

[2017-04-24 01:11] andy-j-d commented on #120
Getting the same issue with the current master @bvaughn. In this instance 5 of several dozen files that should have been transformed, were. I notice they're all .js extensions, while the majority of our components are .jsx. Is it possible the transform is _only_ looking for .js and skipping .jsx?

[2017-04-24 01:21] andy-j-d commented on #120
To run the codemod on js and jsx files, add a `--extensions js jsx`
So nvm @bvaughn, user error.

[2017-04-24 01:22] bvaughn commented on #120
By default, `jscodeshift` only processes *.js files. (You can see this by running `jscodeshift --help`). Sounds like you just need to override the default:
[code]

[2017-04-24 01:22] bvaughn commented on #120
Whoops, looks like you beat me to it. 😄

[2017-04-24 01:26] andy-j-d commented on #120
Thanks for the quick response though!

[2017-04-24 11:04] jlmbaka commented on #125
@A-Dubz I've followed your advise and it worked for me, thanks

[2017-04-27 16:56] jdwinall-tm opened #137 "Transform file React-PropTypes-to-prop-types.js does not exist"
I tried to run the script detailed here but the file does not exist in my node_modules directory.

https://github.com/reactjs/react-codemod#react-proptypes-to-prop-types

**steps to reproduce**
1. yarn add jscodeshift react-codemod --D (Installs jscodeshift version 0.3.30 and react-codemod version 4.0.0)
2. node_modules/jscodeshift/bin/jscodeshift.sh -t node_modules/react-codemod/transforms/React-

[2017-04-27 17:53] alangpierce commented on #137
@jdwinall-tm The npm package for this project doesn't get released very often (according to https://www.npmjs.com/package/react-codemod it hasn't had a release in 8 months, and React-PropTypes-to-prop-types.js is newer than that). I think the right way to use one of these codemods is to just clone the react-codemod repo from GitHub, separately install jscodeshift, and point jscodeshift at the Reac

[2017-04-27 17:57] jdwinall-tm commented on #137
@alangpierce I agree, but the README.md should be updated capture this.  It states you can install the module using yarn or npm.  I assumed that the readme would be in sync with the code available in the npm package.

[2017-04-27 19:47] alangpierce commented on #137
The instructions actually do say to `npm install -g jscodeshift`, then `git clone https://github.com/reactjs/react-codemod.git`, then `npm install` or `yarn` from within the repo (not to run `npm install react-codemod` or `yarn add react-codemod`). But I understand how it could be misread.

IMO it would be best if the npm package was just unpublished to avoid confusion (or there was a deprecation

[2017-05-03 10:01] olosegres opened #139 "ReactUtils does not work with PureComponent"
`react-codemod/transforms/utils/ReactUtils` has functions `findReactComponentName`, `findReactES6ClassDeclaration`, which searches for using `React.Component` and `Component` only.

Library should work with another popular parent class - `React.PureComponent`.

[2017-05-03 12:16] Puneetbh opened #141 "RouterContext: React.createClass is deprecated and will be removed in version 16."
I have updated my code with codemod and used below command to make changes in node_modules/
command: jscodeshift -t ./transforms/class.js --mixin-module-name=react-addons-pure-render-mixin --flow=true --pure-component=true --remove-runtime-proptypes=false ../ReduxSimpleStarter/node_modules/*

When i compiled my code again its still giving same error, please look into this.

Also facing same issue

[2017-05-03 16:09] bebbi opened #142 "Error in jscodeshift -t react-codemod/transforms/React-PropTypes-to-prop-types.js /src"
(This is not a critical bug, just FYI..)

With the file `myapp/src/tostext.js`:
[code]

jscodeshift -t react-codemod/transforms/React-PropTypes-to-prop-types.js myapp/src
produces this error:

[code]

[2017-05-03 16:40] hmillison commented on #141
If you look at the callstack for this warning. It's originating from `react-router`. You need to upgrade your version to at least 3.0.4 (https://github.com/ReactTraining/react-router/releases/tag/v3.0.4)

[2017-05-03 18:52] hajush opened #143 "errors when 'npm install react-codemod'"
When I try to install react-codemod via npm, I'm seeing a fatal 'bad object' error:

[code]

[2017-05-05 07:47] LeZuse commented on #120
I also had a problem with this and didn't have much time to investigate the script and fix it. But I liked @FezVrasta solution (thanks for giving me a push!). I just had to improve the first regexp a little bit since our codebase does not have a strict rule on destructured import order:
[code]

[2017-05-06 06:36] schnerd commented on #143
I'm seeing the same error.

Comes right after `acorn` if that helps at all
[code]

[2017-05-15 14:45] DeeLindesay opened #146 "Lint and test errors on npm install in the react-codemod directory."
```npm ERR! Failed at the react-codemod@4.0.0 prepublish script 'npm run lint && npm run test'.```

It seems to be showing lots of lint errors?

[2017-05-16 08:42] springuper opened #147 "Wrong PropTypes conversion if there are top comments"
input:

[code]

expected output:

[code]

actual output:

[code]

i took a look at the transform, seems this is an issue of jscodeshift or recast.

[2017-05-16 10:26] anthonyvialleton commented on #143
Same here..

[2017-05-16 12:08] DeeLindesay commented on #146
FYI This was running under windows 10.

I had also accidentally added react-codemod as a subdirectory of my own project, instead of directly within the github folder.

Moving it up a level, I do still get 70 warnings, but install is not showing errors.

So I'm closing this.

[2017-05-16 12:08] #146 closed

[2017-05-16 13:43] DeeLindesay opened #148 "When React is a global variable and not imported by file then files remain unmodified"
I'm using
[code]

but it just does not seem to do anying  - I just get
[code]

I'd appreciate any guidance

[2017-05-17 09:31] cjpete opened #149 "Transforms do not honour tabs over spaces"
Particularly with the "manual-bind-to-array.js" where it is amending the constructor, and the defined methods on the class. The replaced text includes spaces for indentation, whereas the whole file utilises tabs (editorconfig also specifies tabs).

[2017-05-19 23:26] Ethaan commented on #125
@A-Dubz works for me

[2017-05-22 15:35] tselishev-semen commented on #148
Try this:
[code]
It worked for me

[2017-05-26 14:20] DeeLindesay commented on #148
Thanks for responding, but sadly I'm having no luck.  So a file I would expect to be tranformed.
[code]
running
[code]
gives me
[code]

[2017-05-26 14:24] DeeLindesay commented on #148
However,  if I add `import React from 'react';` to the top of the file then it works.

Trouble is that we declare `React` as a global variable so do not import  it separately in each file.

I will change the title of this issue - if anyone can suggest anything......

[2017-05-26 14:28] alangpierce commented on #148
@DeeLindesay try adding `--explicit-require=false` as a jscodeshift arg. That seemed to work for me. From the code ( https://github.com/reactjs/react-codemod/blob/master/transforms/class.js#L1159 ), it needs either that or `ReactUtils.hasReact` (which checks for the import), or else it skips the file.

[2017-05-26 14:35] DeeLindesay commented on #148
Thank you.  That definitely gets me onto the right track.

[2017-05-26 14:35] #148 closed

[2017-06-02 11:19] benmosher commented on #143
FWIW, docs say to clone from GitHub and then `npm install` deps locally: https://github.com/reactjs/react-codemod#setup--run

This worked for me, after seeing the `git rev-list` failure trying to install from `npm`.

[2017-06-02 11:19] benmosher commented on #143
See also: https://github.com/reactjs/react-codemod/issues/137#issuecomment-297790305

[2017-06-02 12:14] benmosher commented on #105
FWIW, I saw #2 (removed `React` import) in several cases where I had

[code]
but `Component` was unused, before _and_ after the transform (all components defined in the file had custom mixins).

Transformed to

[code]

resulting in JSX issues.

Files with only `import React from 'react'` that transformed to either ES6 or `createReactClass` were fine.

[2017-06-06 02:32] Misterhex commented on #75
@keyanzhang @cpojer  facing similar issue here. could you point which section of the README document this? thanks!!

[2017-06-06 02:40] Misterhex commented on #75
i found my information here. thanks!

#54

[transform-class-properties](https://babeljs.io/docs/plugins/transform-class-properties/)

[2017-06-26 09:21] bsqtmp opened #153 "Installation failed"
yarn install failed with this error:
`	Configuration for rule "react/jsx-sort-props" is invalid:
	Value "data["0"].shorthandLast" has additional properties.
        Configuration for rule "react/jsx-sort-props" is invalid:
	Value "data["0"].shorthandLast" has additional properties.
`

[2017-06-29 18:13] vcardins commented on #149
+1

[2017-07-11 13:49] gaearon commented on #143
It's not meant to be installed from npm.
Please follow the usage instructions.

[2017-07-11 13:49] #143 closed

[2017-07-11 13:50] #141 closed

[2017-07-23 21:50] super-cache-money opened #161 "react-to-react-dom not transforming React.findDOMNode"
For example, why is the following file left unmodified?

[code]

[2017-07-23 21:56] super-cache-money commented on #161
Hmmm, sorry, it seems like all `.jsx` files are being ignored; only `.js` files are even being considered.

[2017-07-23 22:22] #161 closed

[2017-07-25 20:44] jsnmoon commented on #149
This is an upstream bug with Recast - see https://github.com/benjamn/recast/pull/404.

[2017-07-25 22:06] super-cache-money opened #162 "Always use react-create-class"
Since I don't ever want to use es6 classes, it would be great if I could circumvent all the fancy logic in the `class` transform to convert `createClass` to es6 classes, and just instead have it switch to `react-create-class`.

[2017-07-26 15:43] mareksuscak opened #163 "Class.js codemod should fall back to create-react-class when a soon to become arrow function references "arguments" object."
Taken from [the MDN docs](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Functions/Arrow_functions#No_binding_of_arguments):

Thus _class.js_ transform should check whether or not a soon to become arrow function contains a reference to the `arguments` object. If it does, the codemod must fall back to using _create-react-class_ approach.

Not long after using the codemod, we ran int

[2017-07-28 03:56] bvaughn commented on #162
I think the primary purposes of the class codemod is to convert to ES6 classes whenever possible. I don't think the `class` codemod should also support the use-case you're mentioning.

Fortunately the task of converting from `React.createClass` to `create-react-class` is much simpler. Here's an example quick pass at the transform:
[code]

And [here's a live demo](https://astexplorer.net/#/gist/bd8

[2017-07-28 03:56] #162 closed

[2017-07-28 04:04] bvaughn commented on #153
Looks like `jsx-sort-props` has something to do with yannickcr/eslint-plugin-react (a dev dependency of this project) but I'm not sure why you'd be seeing this error on install. The issue doesn't seem specific to react-codemod though. See:
* https://github.com/airbnb/javascript/issues/1016
* https://github.com/airbnb/javascript/issues/979
* https://github.com/react-boilerplate/react-boilerplate/is

[2017-07-28 04:04] #153 closed

[2017-07-28 04:14] #147 closed

[2017-08-01 17:24] LiterallyWTH opened #165 "class.js creating invalid syntax in class"
[code]
Becomes:
[code]

[2017-08-04 13:02] techyrajeev opened #167 "Getting error : throw new TypeError('Path must be a string. Received ' + inspect(path));"
I am running error while react-codemod command.
I tried : ` '/Dev/web/src/'`
then
 `/Dev/web/src/`
then
 `"/Dev/web/src/"`

With the command. But none of them worked.
Node version
$ node -v
v6.11.1

My jscodeshift version :

[code]

[code]

[2017-08-04 15:32] techyrajeev commented on #167
I was using the react-codemod path incorrectly
Fixed it by changing the path properly.
`$ jscodeshift -t ../react-codemod/transforms/React-PropTypes-to-prop-types.js src
`

[2017-08-04 15:32] #167 closed

[2017-08-09 21:00] AndersDJohnson opened #168 "feat: convert functional stateless component to class"
This is useful after you realize you need lifecycle hooks.

[2017-08-21 18:01] VictorChen commented on #125
adding `--extensions jsx` worked for me, why is that not in the documentation??

[2017-08-23 12:39] sseppola opened #169 "Transform all uses of React.createClass to create-react-class"
Is there a way to run the class codemod, but force it to always use `create-react-class`?

[2017-08-24 03:58] hellatan commented on #125
@VictorChen - https://github.com/reactjs/react-codemod/pull/170

[2017-08-29 00:16] ajb commented on #169
If you're looking for a quick fix, you could modify the source directly. Here's where to do it: https://github.com/reactjs/react-codemod/blob/d8a1d474b6b208cfdbec339b672617270ef78ac5/transforms/class.js#L1213-L1228

[2017-08-29 07:42] sseppola commented on #169
@ajb Thank you, that's perfect!

[2017-08-29 07:42] #169 closed

[2017-09-04 20:01] smolyakoff opened #171 "Not all cases are covered by PropTypes codemod"
Will be nice if `import React, { PropTypes } from 'react';` was also coverted and transformed into two imports.

[2017-09-12 00:21] pigflymoon commented on #137
I tried in this way
1.  npm install -g jscodeshift
2. git clone https://github.com/reactjs/react-codemod.git
3. cd react-codemod
4.npm install
5.go to the project which need to transform file, then run this command:

 eg.   jscodeshift -t ../demos/react-codemod/transforms/React-PropTypes-to-prop-types.js ./
which means jscodeshift  find the  React-PropTypes-to-prop-types.js to transform the curren

[2017-09-18 15:23] #139 closed

[2017-09-18 15:26] bvaughn commented on #171
This case is already handled (and covered by tests). [This input](https://github.com/reactjs/react-codemod/blob/master/transforms/__testfixtures__/React-PropTypes-to-prop-types/default-and-named-import.input.js) is transformed to [this output](https://github.com/reactjs/react-codemod/blob/master/transforms/__testfixtures__/React-PropTypes-to-prop-types/default-and-named-import.output.js):

### Bef

[2017-09-18 15:26] #171 closed

[2017-10-03 23:53] dgoldstein0 commented on #143
is there any chance we could get npm support?  My tools work better if this was available via npm; since it isn't I'm going to have to jump through some hoops to get this setup to work.

[2017-10-10 16:23] mschipperheyn opened #177 "Why does a class like this get "skipped" with the pure-component script?"
I would expect it to become a stateless component.

.babelrc
[code]
[code]

[2017-10-12 16:54] bytor99999 opened #178 "React.findDomNode()"
There is a codemod that will going into react classes and change to use React.findDomNode() which is incorrect. We now have to go to almost 200 locations in our code and fix this. We need to import react-dom and change it to ReactDom.findDomNode() now. Please either fix this code mod or remove it. Thanks

[2017-10-12 16:57] #178 closed

[2017-10-13 01:27] soneymathew opened #179 "React-PropTypes-to-prop-types codemod removes @ from decorators"
Hello,

I would like to report a bug that I faced while using the codemod.
/react-codemod/transforms/React-PropTypes-to-prop-types.js

It removed the "@" from the decorators
https://github.com/wycats/javascript-decorators

Regards,
Soney

[2017-10-15 04:24] #105 closed

[2017-10-19 02:43] sstruct opened #180 "pure-component removes comments before Components"
Input:
[code]

Output(comments were removed):
[code]

[2017-10-19 04:16] alangpierce commented on #180
Unfortunately, looks to me like pure-component doesn't make any attempt to transfer comments from the old to new code. It's generally something that needs to be done explicitly when replacing nodes with other nodes. I sent a PR a while back to properly transfer comments in create-element-to-jsx (#61), so if someone wants to work on this bug, they could model their solution after that change.

[2017-10-20 06:14] sstruct commented on #180
I missed one point, there are several Components in one file

Input:
[code]

Output(comments were removed):
[code]

[2017-11-03 07:05] seth-outreach opened #181 "manual-bind-to-arrow does not clean up constructor binds when the same bind occurs multiple times"
If a file contains multiple classes and some of them define `this.method = this.method.bind(this)`  in their consturctors for methods with identical names, only the first such bind in the file will be removed when applying `manual-bind-to-arrow`

Example input:
[code]

Example output:
[code]

[2017-11-03 16:50] BossGrand commented on #125
I ended up doing this manually. So if people think this is fixed or not an issue feel free to close it

[2017-11-08 16:20] shepmaster opened #182 "Add sorting for propTypes"
I threw this together, having never used jscodeshift before — I'm certain there are dumb problems with it. I'm hoping it might be a useful first step to an official codemod.

It handles class and functional components:

[code]

It sorts required properties first, then alphabetically:

[code]

becomes

[code]

It **does not** handle rest/spread arguments whatsoever.

----

[code]

Thanks for the us

[2017-11-15 16:22] wbeard commented on #137
@alangpierce Would you please cut a release with these new transforms? We have a use case for using `react-codemod` as a locally installed module but will have to copy the source since the transform we want to reference is not available.

[2017-11-15 16:33] wbeard opened #183 "Publishing as a node module more frequently"
Hi, we have a use case for wanting to install and use `react-codemod` as a locally installed node module.

I found in #137 that there may be some barriers preventing you all from publishing a release more often, as well as a suggestion that the package not be installable. I disagree with the latter and would like to understand what the barriers are to making this easier to release on npm and if th

[2017-11-15 17:11] alangpierce commented on #137
@wbeard I guess you could fork the project and publish it to npm under a new name that you pick. Is there a reason `git clone` as a distribution mechanism doesn't work for you? Arguably it's a little weird to have things installed in node_modules that are neither a library nor a CLI tool, and to need to specify explicit paths to files within node_modules packages.

Here's some prior discussion abo

[2017-11-16 01:11] wbeard commented on #137
Thanks, I'll look over the discussion. I do agree that there could be a better solution for the ecosystem. I'd love to discuss that!

To better explain the use case, we are giving teams a way to easily resolve merge conflicts due to codemods. Our solution, so far, is using an npm script to run `jscodeshift` and a corresponding codemod. When we make large changes, such as moving proptypes, those wh

[2017-11-22 00:04] vfonic opened #184 "`path` doesn't work when it's directory"
When I pass something like `./` or `./project_name`, the script fails to iterate over files in the given folder (not even one level):

Spawning 1 workers...
Sending 1 files to free worker...
All done.
Results:
0 errors
1 unmodified
0 skipped
0 ok
Time elapsed: 1.695seconds

I'm posting this issue here, because only in react-codemod documentation (`Readme`) I've found mention that path can be file

[2017-11-22 00:14] vfonic commented on #184
Seems like a bug in `jscodeshift`.

This works:
`jscodeshift ./app -t js-codemod/transforms/underscore-to-lodash-native.js`

while this doesn't:
`jscodeshift -t js-codemod/transforms/underscore-to-lodash-native.js ./app`

I'll open an issue on `jscodeshift`

[2017-11-22 00:14] #184 closed

[2017-11-22 19:56] pke opened #186 "Code mod tries to parse HTML"
**edit**
Nevermind. I just realised my mistake: I have to use the raw GH url of the transform file
`https://raw.githubusercontent.com/reactjs/react-codemod/master/transforms/React-PropTypes-to-prop-types.js`

Then it works as expected.

---

I want to use React-PropTypes-to-prop-types.js  like this:
` jscodeshift -p --dry -t https://github.com/reactjs/react-codemod/blob/master/transforms/React-Pro

[2017-11-22 19:59] #186 closed

[2017-11-24 13:51] simison opened #187 "React-PropTypes-to-prop-types codemod breaks migrated named import"
Using `React-PropTypes-to-prop-types` codemod —

These named exports:
[code]
[code]

...get transformed into this:
[code]

Codemod basically assumes already migrated stuff to use default export:
[code]

[2017-12-23 01:01] edmorley opened #192 "React-DOM-to-react-dom-factories.js not listed in README"
Hi!

The following transform isn't listed in README (unlike the others):
https://github.com/reactjs/react-codemod/blob/master/transforms/React-DOM-to-react-dom-factories.js

Is this intentional? :-)

[2018-01-04 14:27] jasonkarns opened #194 "Request: follow unix convention for dry-run being -n instead of -d"
It's a fairly common for many *nix tools to use -n for dry-run. (git, cvs, svn; can't think of any others offhand, but anecdotally seems fairly common)

Would be nice to follow that convention and be less surprising to those who expect that.

[2018-01-04 16:20] alangpierce commented on #194
@jasonkarns this repository isn't a CLI tool, it's just a collection of scripts to use with jscodeshift. It sounds like it would be better to file this in the jscodeshift project: https://github.com/facebook/jscodeshift

[2018-01-04 22:32] energeek commented on #183
Thanks @wbeard for the shout out. We are facing a similar situation. If publishing is not officially supported, is it possible for us to clone the project and publish a mirror npm package as suggested in #137 ?

[2018-01-05 00:22] jasonkarns commented on #194
Yep sorry :(

On Jan 4, 2018 11:20 AM, "Alan Pierce" <notifications@github.com> wrote:

[2018-01-17 11:36] OliverJAsh opened #196 "pure-component name is potentially misleading"
The `pure-component` codemod is concerned with stateless function components, not `PureComponent`s. Does this mean the name is potentially misleading?

I have noticed SFCs referred to as "pure (function) components" in a few other places. It would be good if the terminology was used correctly/consistently.

Apologies if I am mislead here!

[2018-01-25 16:34] ColinRTaylor opened #197 "React-DOM-to-react-dom-factories: "TypeError: Cannot read property 'name' of undefined""
I have a lot of code that has the individual factories destrucutred from `React.DOM`
here's an example:
[code]

I run the command like
[code]
And get:
"TypeError: Cannot read property 'name' of undefined"
It points to this line here:
https://github.com/reactjs/react-codemod/blob/master/transforms/React-DOM-to-react-dom-factories.js#L174

Not sure why this property doesn't exist when destructured f

[2018-02-14 18:29] RupenAnjaria opened #201 "Example in transform files"
Just like https://github.com/reactjs/react-codemod/blob/master/transforms/manual-bind-to-arrow.js
file has comment on top to show what will be the impact of transformation by before and after codes, can we please update other JS files with comments to show before and after codeblocks?

[2018-02-20 09:06] florentdestremau opened #202 "React-PropTypes-to-prop-types removes new line at end of file"
It may be the case for all scripts but this is very annoying (95 files for me !). So my git diff is full of these:

[code]

Could this be prevented ?

[2018-03-02 17:02] andfelzapata opened #203 "SyntaxError: Unexpected token when using class decorators."
When using `React-PropTypes-to-prop-types.js` and a class has the @connect decorator, the tool errors:

`FilePath` Transformation error
SyntaxError: Unexpected token (24:0)

[2018-03-06 15:35] ulyana1 commented on #202
Same issue for me, but it's 1007 files with this change.

[2018-03-06 15:35] grumd commented on #202
Same issue for me, but it's for 1007 files.

[2018-03-12 17:30] pbassut commented on #87
@rubencodes When reading the code I noticed it tries to find a PureRenderMixin in the commonJS form:
`var PureRenderMixin = require('react-addons-pure-render-mixin');`

If you have the es6 way, you'll get that error.

so, make sure you apply this transform before applying one that changes your import to es6.

[2018-03-13 21:15] evliu opened #204 "[manual-bind-to-arrow] - feature request - support bind operator"
I tried to do this myself but couldn't figure it out, but is it possible to also look for `::this.function` bindings that occur in the constructor alongside the `.bind` function and convert to arrow functions?

[2018-04-20 11:46] milichev opened #206 "Any plans to make it work with TypeScript"
I haven't investigated yet and wonder if anybody else wants something like `--parser typescript`.
What's the feasibility to implement TypeScript processing? I doubt because the TS uses its own AST.

[2018-04-20 18:40] orzarchi commented on #168
I implemented this a codemod:
[orzarchi/react-codemod-pure-component-to-class](https://github.com/orzarchi/react-codemod-pure-component-to-class)
Any feedback will be appreciated

[2018-04-27 21:33] mstorus commented on #168
I found another one here
https://github.com/angryobject/react-pure-to-class/tree/master/packages/react-pure-to-class

[2018-04-27 21:35] orzarchi commented on #168
Yep, I stole some code from that one. I didnt like the code it generated so
I made my own version.

On Sat, Apr 28, 2018, 00:33 Mark Storus <notifications@github.com> wrote:

[2018-05-02 09:37] pavanshinde47 opened #207 "Getting transformation error"
I am using the below command
jscodeshift -extensions=js,jsx -t react-codemod/transforms/React-PropTypes-to-prop-types.js \src

and getting the below errors

 ERR src\components\ReactECharts\index.js Transformation error
SyntaxError: Unexpected token (9:18)

 ERR src\routes\app\routes\subscriber\components\PackageAddEquipment.js Transformation error
SyntaxError: Unexpected token, expected "," (195:

[2018-06-14 04:28] nigelwtf commented on #203
Hey @andfelzapata. This is an issue with jscodeshift, specifically the parser it's using. You can opt to use a parser which supports decorators when running the codemod: `--parser babylon`.

[2018-06-20 16:14] feonit commented on #125
is not fixed on windows os ...

[2018-06-20 19:15] a-axton opened #209 "Move dependencies to devDependencies"
Installing this package is causing some errors in my repo. Most of the dependencies should be moved to devDependencies so it doesn't install them unless yarning `yarn/npm install` directly

Currently having issues where this package installs an older version of jest-cli which somehow takes precedence over the jest-cli in jest package.

I saw an open PR for this, was there a reason why it wasn't me

[2018-07-11 19:01] mrbinky3000 opened #210 "The sort-comp.js transform cannot find a module in my .eslintrc file."
I added a console log to the following code so I could see the specific error being thrown.
[code]

and received the following message

[code]

sort-comp can't seem to find a eslint module used in my eslintrc file.

When I install the packages as dev dependencies to the react-codemon folder, it gets further along, but eventually still can't find eslint dependencies and crashes.

It seems like reac

[2018-07-11 19:36] mrbinky3000 commented on #210
I've done more research.  This seems like a bug with the `getConfigForFile()` method of CLIEngine.  It relates to this issue.  https://github.com/eslint/eslint/issues/3458

Basically, `getConfigForFile()` can't follow shared eslint rules.  The tool was written before it was possible to "include" other rules from another file.  The author had never planned for it, and has health issues.

In my case

[2018-07-12 14:41] mrbinky3000 commented on #210
I made PR #211 , but I just saw PR #208 which does the same thing, but with less code so it's better.  Go ahead and use #208  :-)

[2018-08-02 16:05] mecampbellsoup opened #213 "--diff-only optional flag"
Since the point of this library is to make changes to code in favor of a more preferred style/syntax in React, perhaps the CLI invocations should accept a `--diff-only` flag which prints *only* the diff resulting from the code mod? Thanks, great project!

[2018-08-24 21:58] andfelzapata commented on #203
@nigelwtf Got it, thanks 👍

[2018-10-31 07:17] Daniel15 commented on #213
This should probably be posted as a feature request for Jscodeshift, unless it already has an option for this.

[2018-11-07 22:12] ssotangkur-kahuna commented on #143
@gaearon

It would be helpful to say in the instructions that react-codemod isn't meant to be run locally, only globally. Many tools are capable and supportive of being run locally, but are only documented to be run globally. We shouldn't assume that lack of documentation for local running is the same as statement of non-support.

[2018-11-07 22:54] SaladFork opened #216 "Codemod for switching to new Fragment syntax"
I think it could be nice to have a codemod that automatically replaces `<React.Fragment>`s with the [new short syntax](https://reactjs.org/docs/fragments.html#short-syntax) (`<> ... </>`) where applicable. In fact, a potential codemod was [mentioned in the React v16.2 release blog post that introduced the syntax](https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html#other-tools).

[2018-11-29 11:14] brunolemos opened #217 "FR: Convert all class based components to functions with hooks"
### Feature request

- Convert all class based components to functions
- Convert `state` to `useState` hook
- Use `React.memo` when class extends `PureComponent`
- Move `componentXXXMount` and `componentXXXUpdate` to `useEffect` hook
  - Skip class if it has other lifecycle methods
- Related: Convert `Consumer` render props to `useContext`

#### Bonus points
- TypeScript support
- Flow support

##

[2018-11-29 11:44] brunolemos commented on #217
@remcohaszing

[2018-12-12 18:56] tachang commented on #165
Did you ever manage to fix this?

[2019-01-04 09:43] stanlyjohn2 commented on #137
When I ran the jscodeshift command, all my files got skipped. What may be the issue?

[2019-01-23 16:07] joshunger commented on #216
@SaladFork this was already added to `eslint-plugin-react`. See https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-fragments.md

[2019-01-23 16:08] SaladFork commented on #216
Awesome, thanks!

[2019-01-23 16:08] #216 closed

[2019-02-07 02:05] brunolemos commented on #217
The wix team released a tool to convert from class to hooks:

https://twitter.com/borislit/status/1093154178556456970
https://github.com/wix/vscode-glean

[2019-02-11 22:07] a-x- opened #218 "Is Node 11 broken"
react-codemod/node_modules/circular-json/build/circular-json.node.js:184:1

[code]

<details><summary>log, error, and stacktrace</summary>

[code]

</details>

[2019-02-11 22:08] a-x- commented on #218
react-codemod@4.0.0

[2019-02-25 15:54] mgol-sumo commented on #206
There seem to be `ts & `tsx` parsers:
[code]
but I've tried them together with the `extensions` option and my files weren't transformed. I tried something like that:
[code]

[2019-02-25 15:55] mgol commented on #206
There seem to be `ts & `tsx` parsers:
[code]
but I've tried them together with the `extensions` option and my files weren't transformed. I tried something like that:
[code]

[2019-02-26 13:16] KirillYoYo opened #219 ""Cannot read property 'process' of undefined" if --parser=flow flag"
Have a errors
`flybridge\app\components\shared\charts\linechart\LineChartBrush.js Transformation error (Cannot read property 'process' of undefined)
TypeError: Cannot read property 'process' of undefined
`
then start `jscodeshift -t ./transforms/React-PropTypes-to-prop-types.js ../flybridge/app/components --parser=flow`

![image](https://user-images.githubusercontent.com/26794095/53415344-d3375b00

[2019-02-28 12:22] gormv commented on #218
Same issue here. Did you find a solution?

[2019-02-28 16:43] a-x- commented on #218
I postponed it...

[2019-03-04 22:48] jpolo commented on #218
I can reproduce in node v8.11.3 so definitely not a v11 problem

[2019-03-07 04:18] Ranguro opened #221 "Cannot transform with React-PropTypes-to-prop-types"
I have isolated the following file from the react project but I cannot find a way to transform it without react-codemod skipping it.

[code]

I am running the following command:
`jscodeshift -t react-codemod/transforms/React-PropTypes-to-prop-types.js <path>`

[2019-03-07 04:23] #221 closed

[2019-03-26 16:35] t3ndai opened #222 "Changing from React-dom-factories to React-createElement"
Are there transforms to change from https://www.npmjs.com/package/react-dom-factories to React CreateElement. Given that this React CodeMod already provides a handy transform for React CreateElement to JSX ?

[2019-03-28 14:02] step-off commented on #219
Have the same issue while processing React component file with `--parser=flow` option.
@KirillYoYo did you find solution?

[2019-03-28 14:31] KirillYoYo commented on #219
@step-off No...

[2019-04-17 09:03] #203 closed

[2019-04-17 09:05] threepointone commented on #165
Why is this invalid syntax? I might be missing something

[2019-04-19 07:51] sarink commented on #125
This is happening to me on a typescript project with `react/sort-comp`, using `--extensions` did not fix it

[2019-05-24 18:04] #197 closed

[2019-07-04 17:21] bellancaf opened #226 "Codemod React.proptypes results in " TypeError: Cannot read property 'number' of undefined ""
I am migrating from 15.4- to 16.8 and I used the prop-types script.
Once I deploy I end up with this problem -> TypeError: Cannot read property 'number' of undefined.

I  have 12 files with Proptypes.number and all of them import correctly prop-types.

I pass them as follows =>

[code]
What am I missing? :/

[2019-07-19 04:37] upadmdh opened #230 "React-PropTypes-to-prop-types throws Invalid transform choice"
Steps to Reproduce:
[code]

Throws error:
[code]

I can see that https://github.com/reactjs/react-codemod/blob/master/bin/cli.js#L105` Does not contain `React-PropTypes-to-prop-types` option.

[2019-07-19 13:38] threepointone commented on #230
good catch. would you like to send a PR with a fix?

[2019-07-22 04:08] upadmdh commented on #230
@threepointone PR raised

[2019-07-22 09:14] #230 closed

[2019-07-22 09:15] threepointone commented on #226
Can you make a git repo with the reproduction? Can't tell without looking closer

[2019-07-27 13:10] threepointone commented on #177
"Stateless" (rather, 'functional') components do not behave the same way as PureComponent; PureComponent is closer to React.memo really.

[2019-07-27 13:10] #177 closed

[2019-07-27 13:11] threepointone commented on #219
Do you have a sample file I can reproduce this with?

[2019-07-27 13:12] threepointone commented on #218
Is this still an issue? Can you make a git repo that shows this problem?

[2019-07-27 13:17] threepointone commented on #217
We don't actually recommend rewriting components with classes into ones with hooks, especially older ones that aren't actively developed. The wix solution looks good for targeted files.  Thanks for the request!

[2019-07-27 13:17] #217 closed

[2019-07-27 13:19] #213 closed

[2019-07-27 13:19] threepointone commented on #209
fixed in v5

[2019-07-27 13:19] #209 closed

[2019-07-27 13:20] threepointone commented on #207
This seems like an issue for https://github.com/facebook/jscodeshift/issues

[2019-07-27 13:20] #207 closed

[2019-07-27 13:21] threepointone commented on #201
I'll accept a PR.

[2019-07-27 13:22] #165 closed

[2019-07-27 13:23] threepointone commented on #202
I'll accept a PR with a fix. You could also run prettier (or some other formatter) on the output.

[2019-07-27 13:24] #194 closed

[2019-07-27 13:24] threepointone commented on #194
This is now a cli tool :) It has to be an explicit --dry flag.

[2019-07-27 13:25] threepointone commented on #196
I agree it's misleading, but we'll keep this around for historical reasons I think.

[2019-07-27 13:25] #196 closed

[2019-07-27 13:26] threepointone commented on #98
Is this still an issue? Feel free to reopen with a repro if so.

[2019-07-27 13:26] #98 closed

[2019-07-27 13:27] #183 closed

[2019-07-27 13:28] #100 closed

[2019-07-27 13:30] threepointone commented on #149
sorry about this (and looks like it's not fixed upstream?). The recommendation would be to run prettier (or some other formatter) after running the codemod.

[2019-07-27 13:30] #149 closed

[2019-07-27 13:31] #142 closed

[2019-07-27 13:32] threepointone commented on #137
We just published v5.

[2019-07-27 13:32] #137 closed

[2019-07-27 13:33] threepointone commented on #182
I'll accept a PR with this and tests.

[2019-07-27 13:35] threepointone commented on #204
I don't think the `::` proposal moved ahead? Closing this.

[2019-07-27 13:35] #204 closed

[2019-07-27 13:35] #168 closed

[2019-07-27 13:36] threepointone commented on #123
merged your PR, will publish in next patch release, thank you!

[2019-07-27 13:36] #123 closed

[2019-07-27 13:38] threepointone commented on #192
I'll accept a PR that adds this to the readme/cli.

[2019-07-27 13:39] threepointone commented on #181
I'll accept a PR with a fix

[2019-07-27 13:40] threepointone commented on #125
I'm going to close this issue, please file fresh issues with specifics and repros if needed.

[2019-07-27 13:40] #125 closed

[2019-07-27 13:42] #187 closed

[2019-07-27 14:14] threepointone commented on #210
closing this, thank you!

[2019-07-27 14:14] #210 closed

[2019-07-27 15:15] threepointone commented on #222
Not that I know of, but I'm happy to entertain a PR. It's not very useful nowadays tho. CLosing this, but lemme know if you make a PR.

[2019-07-27 15:15] #222 closed

[2019-07-27 15:37] #192 closed

[2019-07-27 16:05] threepointone commented on #206
the new cli asks for a language choice when it's run, and choosing typescript adds the required flags automatically. There's a bug in rename-unsafe-lifecycles, fix here https://github.com/reactjs/react-codemod/pull/234(thanks @skovy!) I'll publish an update this weekend.

[2019-07-27 16:18] threepointone commented on #206
Published a new version, lemme know if it doesn't work for you folks.

[2019-07-27 16:18] #206 closed

[2019-07-28 10:19] step-off commented on #219
You can try to run any transformation with `--parser=flow` on this file : https://github.com/skbkontur/retail-ui/blob/master/packages/retail-ui/components/ComboBoxOld/ComboBoxOld.js
It should output error described above. If not, I'll gladly give you more specifics to reproduce :)

[2019-07-28 10:37] threepointone commented on #219
I was not able to reproduce this, but I have some guesses -
- it's an older version of jscodeshift that could be subtly broken
- there's a known issue with the way jscodeshift could fail on paths with '..' in them
- the flow-parser module being used is somewhat off?

I've made some changes recently, so if you can try this and let me know:
- be in the root folder of your source (say in `flybridge`)

[2019-07-31 23:55] karlhorky commented on #217
@threepointone this is an interesting recommendation! Do you have any guidance on the reasoning behind this stance?

The pros and cons I can think of off the top of my head are:

Pros:

- one style (less API surface area, lower learning requirements)
- less code
- potentially, in the future: forwards compatibility (if class components were ever removed from React)
- benefits from new hooks-specifi

[2019-08-01 06:12] akaustav commented on #219
Turns out that babel is the culprit. Using `--no-babel` as an argument to `jscodeshift` does the trick.
Thanks to @tulasimcabca for this comment: https://github.com/facebook/jscodeshift/issues/299#issuecomment-456468109

I was able to execute the following command:
[code]

Maybe `react-codemod` should support passing this flag into jscodeshift until this issue is fixed.

[2019-08-01 09:43] nifgraup commented on #98
Verified fixed.

[2019-08-09 08:11] Pixelatex opened #238 "skips .jsx files"
All transforms seem to ignore all .jsx files, is there some way to tell it to not ignore them?

[2019-08-09 09:54] haagvivi commented on #238
I have the same issue, it just check for `.js` file.

[2019-08-09 09:56] threepointone commented on #238
I’ll fix this today

[2019-08-09 10:56] haagvivi commented on #238
@Pixelatex I finally manage to check `.jsx` files with the `path`. You can pass the `path` in the command, but it only check the first match file.
Example
[code]
But if you don't specify `path` and in the prompt use `src/**/**.jsx` it will check all the files in `src` folder and subfolder.

[2019-08-09 10:57] Pixelatex commented on #238
huh, it might be better to include .jsx in the allowed files though :p or atleast update the docs to allow usage of wildcards in paths and such.

[2019-08-09 10:59] threepointone commented on #238
A good workaround is also to pass an option directly to jscodeshift
[code]

My fix later will make this the default, but this should help for now

[2019-08-09 11:00] threepointone commented on #238
I'll also check why `src/**/**.jsx` wasn't working when passed directly

[2019-08-09 14:15] threepointone commented on #238
I pushed a fix in https://github.com/reactjs/react-codemod/pull/239. Closing this, but lemme know if you have any problems with it. Thanks!

[2019-08-09 14:15] #238 closed

[2019-08-09 17:59] abhisheksoni opened #240 "Unexpected token error while running rename-unsafe-lifecycles transform"
Seeing: **Unexpected token ...** error

while running:

[2019-08-09 18:14] threepointone commented on #240
Could you share the file contents on which this error happened? I can't investigate without a repo of some sort.

[2019-08-09 19:18] muescha commented on #201
Also in the README would be nice

[2019-08-14 10:54] threepointone commented on #240
My best guess is you had an issue with the choice of parser. Closing this, lemme know if you have a repro and I could help.

[2019-08-14 10:54] #240 closed

[2019-08-16 21:16] iamrestrepo opened #241 "Update list of options in `--help` to match available flags"
Currently,  when accessing the **--help** command and the **README** to check out the available options/flags to run the **sort-comp** transform, only three **options** are visible to the user:  --force --dry and --print.  Additionally, the  --jscodeshift  flag (for advanced options) suggests that options like  **parse**  and **explicitRequire** can be declared INSIDE this (jscodeshift) instead of

[2019-08-23 09:28] #219 closed

[2019-08-23 09:29] threepointone commented on #219
This appears to be an issue with jscodeshift, would recommend posting there

[2019-09-09 08:23] threepointone commented on #218
I’m going to close this, happy to reopen if someone shares a reproducing example.

[2019-09-09 08:23] #218 closed

[2019-09-11 01:42] James-E-Adams opened #242 "Calls to super.[lifecycle] shouldn't be rewritten as unsafe for rename-unsafe-lifecycles"
This seems like a bug but not sure if this is within scope of the codemod's intended 'smartness'.

I have a class component that extends from a component imported from a library.

In this class component, it implements `componentWillReceiveProps`. It also makes a call to `super.componentWillReceiveProps()`. The code mod changed it from:

[code]

to

[code]
But this relies on the vendor code having

[2019-09-16 01:16] dangreenisrael opened #243 "Switch to MIT license"
Facebook has graciously decided to relicense React under the MIT license and I thought that it may have been an oversight that the React Codemod library didn't have its license updated. If this was on purpose, please feel free to just close this PR.

Thanks so much for all of your amazing contributions to the Open Source community!!!

https://engineering.fb.com/web/relicensing-react-jest-flow-and-

[2019-10-01 19:59] threepointone commented on #243
I’m happy to do this, was probably just missed. I’m on PTO, but will do this sooner than later.

[2019-10-05 11:29] #243 closed

[2019-10-05 11:34] threepointone commented on #241
Happy to accept a PR that does so!

[2019-10-05 11:40] threepointone commented on #226
I'm going to close this because there isn't a reproducing example. I'm happy to reopen if one is provided.

[2019-10-05 11:40] #226 closed

[2019-10-05 12:02] threepointone commented on #163
I’m happy to accept a PR for this.

[2019-10-05 15:26] vitaliyhayda opened #245 "Unknown property React.createRef"
Error: Unknown property React.createRef

[2019-10-05 17:08] threepointone commented on #245
Happy to investigate more of you can provide a reproducing usecase, thank you!

[2019-10-07 10:51] threepointone commented on #242
So it's an awkward pattern, and not idiomatic, for people to extend from React.Component for their own components. That said, the reason this codemod does this in the first place, is *because* we discovered usages where it was done so (https://github.com/reactjs/react-codemod/pull/198). The correct fix here, would be to  apply the codemod on the dependencies too (or make the proper substitutions).

[2019-10-07 10:51] #242 closed

[2019-10-07 10:51] threepointone commented on #245
Closing because there are no details provided, happy to discuss and reopen if you can provide more information.

[2019-10-07 10:51] #245 closed

[2019-10-07 10:54] threepointone commented on #202
Closing this since there are workarounds (like using prettier), but happy to accept a PR if someone makes it.

[2019-10-07 10:54] #202 closed

[2019-10-07 10:55] threepointone commented on #182
Closing this since it's not something we have a strong opinion on, and could be a separate codemod if needed, and doesn't have to belong in react-codemod.

[2019-10-07 10:55] #182 closed

[2019-10-07 16:19] dangreenisrael commented on #243
Thanks @threepointone

[2019-10-09 21:24] James-E-Adams commented on #242
Hi Sunil!
Yeah it's a tricky situation.
I'm not certain applying the codemod on the third-party dependency would be the greatest idea. It's _usually_ outside of source control and you're right - it's hard to determine what exactly is third-party. But this is totally outside of the scope for a simple codemod.
Thanks for taking the time to respond!

[2019-10-29 15:54] threepointone commented on #135
I tried this out with the latest version, and it doesn't seem to be a problem anymore. closing.

[2019-10-29 15:54] #135 closed

[2019-10-29 17:43] aulisius commented on #241
I'd like to work on this!

[2019-10-29 17:44] threepointone commented on #241
Sure, give it a go! Feel free to ask me questions before you write code.

[2019-10-29 21:32] alex-saunders commented on #201
Hey @threepointone , is this issue still free to take?

[2019-10-29 21:34] threepointone commented on #201
Assigned to you! Take your time with this. Maybe a good idea to add a TOC to the README too, since this will make it quite chunky. Happy to discuss if you have questions.

[2019-10-29 21:44] alex-saunders commented on #201
Thanks! I'll get working on this right away.
Good shout about a contents in the README, I'll add that as well.

[2019-10-29 21:47] muescha commented on #201
to avoid out of sync comments maybe it's better only in the:
a) transformation file or
b) the readme file
should be the impact example code?

[2019-10-29 21:48] threepointone commented on #201
Only in the README file, I think. And it doesn’t have to be exhaustive (or there are options), just a simple example will do.

[2019-10-30 16:47] vivek12345 commented on #181
Is there a reason we have this condition in place here
[code]

Any example where this is useful?

[2019-10-30 16:51] threepointone commented on #181
cc @pksjce

[2019-10-30 16:52] threepointone commented on #181
I dunno what you're referring to. If it's code in the transform, I'm not familiar with it. where is it ?

(PS - I'm sorry about this, but this issue was already claimed by @pksjce. If she doesn't want to do it I'd recommend you spend time on it)

[2019-10-30 16:53] vivek12345 commented on #181
No worries, I understand 👍

[2019-10-31 13:11] kgrz commented on #163
Dibs.

[2019-10-31 19:15] pksjce commented on #181
Well 🤷‍♀ I did start working on this.

[2019-10-31 19:16] threepointone commented on #181
It’s yours!

[2019-11-01 03:25] kgrz commented on #163
It looks like the `arguments` bailout check is already included in the heuristics in `class` transform. It's also mentioned in the README, and the commit that added this check was in 2016, so it's not clear to me which condition created this problem. There are tests that verify this behaviour, and [I tried more around the same lines](https://github.com/reactjs/react-codemod/compare/master...kgrz:t

[2019-11-01 06:13] aulisius commented on #241
[code]

@threepointone @iamrestrepo Is this the expected output?

[2019-11-01 19:36] threepointone commented on #181
Fixed by #247. Thank you @pksjce!

[2019-11-01 19:36] #181 closed

[2019-11-01 20:47] threepointone commented on #241
Yeah, looks like we only need to add the explicit-require flag. I'd copy edit that line though, something like "Transform only if React is imported in the file (default: true)".

parse is asked for on startup anyway, so we don't need to add it to this menu.

[2019-11-02 15:41] #241 closed

[2019-11-05 05:02] minhtranite opened #249 "Cannot find module 'core-js/modules/es.array.find'"
I run command `npx react-codemod rename-unsafe-lifecycles src` and got this error:

[code]

It run on node v12.12.0 and npm v6.12.1

[2019-11-05 13:45] threepointone commented on #249
I'm unable to reproduce this on my machine with the same node/npm version. Could you help by isolating this to a single file/code pattern that this fails on?

[2019-11-09 13:16] minhtranite commented on #249
Hi!, The error happen when run command above in a project use babel with core-js@3.

Please download this project, run npm install and run `npx react-codemod rename-unsafe-lifecycles .`

[test.zip](https://github.com/reactjs/react-codemod/files/3827315/test.zip)

[2019-11-09 13:43] threepointone commented on #249
Nice catch! I can reproduce it now.

The workaround (for now) is to run react-codemod from *outside* the project folder. So instead of
[code]
 You can run
[code]
This will ensure that react-codemod will use its own dependency versions, and run the transforms as expected.

I'll make a proper fix for this later, and will leave this issue open until then. Thanks again!

[2019-11-21 15:41] iamrestrepo commented on #241
Yes! thanks for taking care of it!

[2019-11-26 09:03] LabhanshAgrawal commented on #206
@threepointone I tried to use the TypeScript option but it just skipped all the files, I was able to try it on the js files using the JavaScript option, but the same files got skipped in ts parser.

[2019-11-27 15:48] hankolsen opened #251 "Cannot find module eslint"
I'm trying to run sort comp with ` npx react-codemod sort-comp src` but it fails saying that it cannot find eslint.
I just ran `npx react-codemod rename-unsafe-lifecycles src` without any issues.

Any ideas how to resolve this?

Output below
[code]

[2019-11-27 15:53] threepointone commented on #251
This looks like a bug on our part.

https://github.com/reactjs/react-codemod/blob/master/transforms/sort-comp.js#L202 requires 'eslint' but we don't include it in our dependencies https://github.com/reactjs/react-codemod/blob/master/package.json#L13-L20

You can workaround it for now by installing eslint locally in your project with `npm install eslint@6.6.0 --dev`, running the codemod, and then u

[2019-11-27 16:04] hankolsen commented on #251
Thanks, but I already tried installing eslint locally and got the
same result :(

On Wed, 27 Nov 2019 at 16:53, Sunil Pai <notifications@github.com> wrote:

--
Henrik "Hank"  de Lang
E-Mail: henrik@hankolsen.com
WWW: www.hankolsen.com
Cell: +46 733 280 990

[2019-11-27 16:07] threepointone commented on #251
Odd, but maybe. Try installing it globally instead `npm install eslint@6.6.0 --dev` (and then uninstall once you're done)

[2019-11-27 16:10] hankolsen commented on #251
Still the same problem :(

I*m using Typescript, if that could be of any concern.
On 27 Nov 2019, 17:07 +0100, Sunil Pai <notifications@github.com>, wrote:

[2019-11-27 16:12] threepointone commented on #251
Very odd behaviour, and I don't understand why it would behave so. Open to accepting a PR that adds eslint to dependencies.

[2019-12-11 11:21] laurens-dg commented on #251
I created PR #252 for this.

[2020-02-12 21:23] wesleyyee opened #254 "Error when running rename-unsafe-lifecycles"
Seeing this error:
[code]

[2020-02-12 21:45] threepointone commented on #254
Could you try to isolate what file this happened on? If you could make a git repo with a reduced usecase, that would be excellent.

Just to be sure that it isn’t related to your own dependencies, would you also try running this from outside your project? ie- instead of `cd my-project` and `npx react-codemod ...`, could you run `npx react-codemod my-project‘?

[2020-02-13 14:14] wesleyyee commented on #254
Ahh it seems to not like `React.lazy`

[2020-02-14 15:27] wesleyyee commented on #254
@threepointone https://github.com/wesleyyee/codeshift-react-lazy

[2020-02-15 01:28] antoniro commented on #251
Hello, I am still having the same error. I tried with npx and also via jscodeshift with no success. Eslint is installed in the project and globally.

`PS C:\Users\anton\Documents\Capstone\Swipelist\SwipelistApp> jscodeshift -d -p -t .\react-codemod\transforms\sort-comp.js .\src\screens\createAccount
Processing 5 files...
Spawning 5 workers...
Running in dry mode, no files will be written!
Sending

[2020-02-18 14:35] threepointone commented on #254
Very helpful, thank you! I'll have a look this weekend.

[2020-03-10 12:59] sayjeyhi commented on #251
I have this bug already, any updates on this?

[2020-03-10 18:03] threepointone commented on #251
released in v5.2.0. Closing this, but lemme know if it works fine!

[2020-03-10 18:03] #251 closed

[2020-03-13 21:19] njradford commented on #206
@threepointone I am also seeing the behavior. Works as expected on JSX but TSX gets ignored.

[2020-03-13 21:21] threepointone commented on #206
It’s hard to comment without more details. If you could file a fresh issue with more details, what command you ran and what options you picked in the wizard. *Ideally* if you could make a small git repo that reproduces the problem, that would be great.

[2020-03-14 20:15] njradford opened #257 "Error when running pure-component on tsx file"
When running the pure-component codemod on a typescript file

[code]

I see the following errors

[code]

Node v10.18.0

[2020-03-17 13:34] ccambournac opened #258 "SyntaxError in Classes implementing private properties and methods"
`npx react-codemod rename-unsafe-lifecycles` throws errors when running on JS code using
[proposed private properties and methods](https://github.com/tc39/proposal-class-fields#private-fields).

The following typical transformation errors are raised:
[code]

[2020-03-20 14:57] LukasDeco commented on #257
I am dealing with this error too. Would love to know more.

[2020-03-24 12:32] LukasDeco commented on #257
This seems to be the block of code it is referring to:
[code]

I think the offending couple of lines are:
[code]
Is it possible that for some reason it can't find the render method?

[2020-03-24 16:10] jasontk19 commented on #249
This same underlying issue, which appears to be running `react-codemod` inside a project dir with a different babel config/dependencies than `react-codemod` expects, also gave me some trouble.  In my case, I ran into the following error when running ` npx react-codemod sort-comp . --dry --print`:
[code]

This seems like something that people might regularly run into.  Would it be worth updating th

[2020-04-14 07:30] stekovinbranturry opened #260 "Error when running "manual-bind-to-arrow""
When there is bind only in constructor, the whole constructor will be removed. Which caused a lot of errors.
![image](https://user-images.githubusercontent.com/33021960/79197617-a51a1200-7e64-11ea-87a6-3f0830813ed9.png)

[2020-04-25 19:16] siderakis opened #261 "Generate `type Props = {...}`"
Is there any codemod to generate Props types automatically? Similar to how [this linter plugin](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/prop-types.md) finds undecalred props.

[2020-05-12 09:36] lucasff commented on #260
@stekovinbranturry That's exactly the purpose of this codemod. What's wrong? What's the expected outcome?

[2020-05-12 09:42] lucasff commented on #261
JavaScript by itself has no types. You should look into Flow or TypeScript and their related codemods.

[2020-05-15 14:35] Jayphen commented on #254
@threepointone Did you ever solve this? I have a similar problem in a codemod I am writing where it chokes on the dynamic import

[2020-05-20 06:30] stekovinbranturry commented on #260
it has been resolved, thanks

[2020-05-20 06:30] #260 closed

[2020-06-28 07:54] threepointone opened #263 "package react-codemod with ncc"
This would avoid issues like https://github.com/reactjs/react-codemod/issues/249

[2020-06-28 18:17] threepointone opened #264 "unable to publish react-codemod to npm"
There's a problem with npm, every time I've tried to publish the latest version, I get a 404 error (??!)
[code]

I'm giving up at this point. If someone else with publish rights could try publishing this, that would be great.

Of note, this is critical because it contains @lunaruan's PR https://github.com/reactjs/react-codemod/pull/262 for `update-react-import`.

cc @cpojer, since I know he has pu

[2020-06-29 07:56] cpojer commented on #264
Not sure what issue you ran into, maybe the registry had issues when you tried?

I published `react-codemod@5.2.1`. I don't have access to this repo to close this issue though :D

Hope you are well.

[2020-06-29 07:58] threepointone commented on #264
Miss you bud, thanks for the assist.

[2020-06-29 07:58] #264 closed

[2020-07-01 08:05] maraisr opened #265 "$ is not a function"
I have tried 3 ways to get this to run:

1. `npx react-codemod` - which produced a `Error: Cannot find module '@babel/runtime-corejs3/helpers/interopRequireDefault'`
1. `yarn add react-codemod` - which produced a `TypeError: $ is not a function @ core-js-pure\modules\es.array.is-array.js:6:1`
1. yarn global add - which produced an another error complaining about module not found (didnt get to catc

[2020-07-07 17:55] threepointone commented on #265
could you try running this command from _outside_ the repo you want changed? so for example if `myproject` is the codebase, don't do `cd myproject && npx react-codemod`, instead run `npx react-codemod myproject` (I hope that's clear, happy to explain further if I'm not)

[2020-07-07 17:56] threepointone commented on #261
I don't think this would be something this project would include by default. You could consider using a static type system like flow or typescript, or you could of course write your own codemod that does so. Closing this issue, but happy to discuss if there's widespread interest.

[2020-07-07 17:56] #261 closed

[2020-07-07 17:58] threepointone commented on #254
I'm not doing any active development on this, but I'd be happy to review and land a PR with a fix.

[2020-07-07 22:00] maraisr commented on #265
I tried this! Sadly it did not work. The message is/was the same on both windows and mac. Also with and without the trailing slash.

![image](https://user-images.githubusercontent.com/599459/86848129-d2d3c780-c0f0-11ea-834e-8dfe227df686.png)

[2020-07-07 22:02] threepointone commented on #265
Oh hmm that’s odd. I’ll think about it this week, will try to run it on a windows machine too.

[2020-07-22 16:01] Punith22bravo commented on #137
i have installed the codemod and jscodeshift by

 1. npm install -g jscodeshift
 2. git clone https://github.com/reactjs/react-codemod.git
 3.cd react-codemod
 4.npm install
 5.go to the project which need to transform file, then run this command:
~/React_Launcher$ npx jscodeshift -dpt ~/React_Launcher/react-codemod/transforms/rename-unsafe-lifecycles.js src to update the component lifecycles for

[2020-07-22 16:02] threepointone commented on #137
Please file a new issue @Punith22bravo.

[2020-08-06 09:49] justinairbase opened #269 "rename-unsafe-lifecycles throws error "404 Not Found - GET https://registry.npmjs.org/@nodelib%2ffs.stat - Not found""
I'm using `npx react-codemod rename-unsafe-lifecycles src` to rename unsafe methods in a react project but it throws an error:
[code]

Here's the log:
[code]

Is this temporary or something which I should be doing differently on my end? I have used this codemod without any issues in the past on my machine.

[2020-08-06 11:56] drub4n commented on #269
issue with scoped packages @ npmjs
It should be back to normal now

https://status.npmjs.org/incidents/cksjqc1w11v5

[2020-08-06 11:58] justinairbase commented on #269
Yes, just checked. Confirmed working.

[2020-08-06 11:58] #269 closed

[2020-08-24 12:29] sterlu commented on #254
Hey, not sure if related, but also getting a similar error `Error: did not recognize object of type "ChainExpression"` with the same stack trace when running `rename-unsafe-lifecycles`

[2020-09-21 00:25] #163 closed

[2020-09-22 17:50] natew opened #272 "update-react-imports won't pick up default + destructure"
When I run on this file, it won't change anything:

[code]

[2020-09-23 05:52] mustafawm opened #273 "update-react-imports not working with TS"
Hello,

Not sure if this is related #272

Following [this (helpful) guide](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html) to try out React 17

`npx react-codemod update-react-imports` is skipping all TS/X files!

<img width="521" alt="Screen Shot 2020-09-23 at 3 47 06 pm" src="https://user-images.githubusercontent.com/13101565/93971672-0fd85d80-fdb4-11ea-95d6-52480c421

[2020-09-23 06:03] mustafawm commented on #273
it's a small codebase, i ended up `find/replace`ing

`import React from 'react';` with nothing
and `import React, {` with `import {`

Please close if it's not an issue.

[2020-09-23 06:46] behnammodi opened #274 "Maybe it's a RFC"
How to change, remove or add a props to component by `react-codemod` for exapmle:

I have a component like this:

[code]
Now, I want to remove `id` props from all component so result is:

[code]

I think it can be possible like this command

[code]

[2020-09-23 10:54] gaearon commented on #274
You’d need to write your own codemod. Please search the internet for “how to write a codemod with jscodeshift”.

[2020-09-23 10:54] #274 closed

[2020-09-23 10:55] behnammodi commented on #274
@gaearon Why you are angry?

[2020-09-23 11:51] #272 closed

[2020-09-23 11:51] #273 closed

[2020-09-23 11:52] gaearon commented on #273
Please try again, this should work now.

[2020-09-23 11:52] gaearon commented on #272
Please try again, this should work now.

[2020-09-23 13:41] mustafawm commented on #273
👍 working fine now. Thanks for the quick fix.

[2020-09-23 13:50] gaearon commented on #274
Sorry, I didn't mean to sound angry!

I'm saying that in order to implement the functionality you want, you need to write your own codemod. This is because `react-codemod` is not an extensible codemod engine — it's a collection of preexisting codemods. If you want to write your own, you need to use `jscodeshift`. I'm suggesting that you search for a jscodeshift tutorial because it should be helpfu

[2020-09-23 13:54] behnammodi commented on #274
@gaearon Thanks man, it's great

[2020-09-27 21:41] billyjanitsch opened #276 "update-react-imports transform unnecessarily errors on multiple React imports"
The following lines complain if React is imported more than once in the source file being transformed:

https://github.com/reactjs/react-codemod/blob/20f649dbbe062d73c64805acf8ee41f992103162/transforms/update-react-imports.js#L65-L69

However, importing from React multiple times is valid. It was even [explicitly recommended](https://twitter.com/sebmarkbage/status/1250583072937930752) by @sebmarkba

[2020-09-27 22:21] billyjanitsch opened #277 "Consider providing an option for update-react-transform to convert namespace imports"
Currently, the update-react-transform transform assumes that if a file is currently using a namespace React import, then the developer wants it to stay that way. I don't think that's generally, or even usually, true.

[Issues](https://twitter.com/sebmarkbage/status/1250284377138802689) with importing React as a pseudo-default import have been known for a long time, so many codebases categorically

[2020-09-27 22:34] billyjanitsch commented on #276
Sorry, my mistake! This path only errors when multiple imports are imported as `React`, which isn't the case here and generally doesn't make sense.

I hit the error while running the codemod on a codebase that uses the pattern I mentioned and I assumed that was the reason. I should've double-checked.

[2020-09-27 22:34] #276 closed

[2020-09-27 22:37] billyjanitsch commented on #277
As a workaround, one can run a find/replace on the codebase for `import * as React from 'react'` -> `import React from 'react'` immediately before running the codemod (since it converts default imports to named imports).

[2020-09-28 16:33] lunaruan commented on #277
Hey! We originally decided not to convert any named imports (ex. `import * as React from 'react'`) because it was pointed out that some people might want to keep the `import * as React from 'react'` pattern. However, you make a good point about how there *are* codebases that would prefer to use destructured named imports (ex. `import {useState} from 'react'`). I'll add an option to allow this. Tha

[2020-09-28 16:44] billyjanitsch commented on #277
Yeah, I totally understand why some codebases may not want this, but an option would be fantastic. Thanks @lunaruan, and thanks for providing the codemod to begin with! 🙂

[2020-10-11 14:02] rbalmf commented on #254
@sterlu I had the same `ChainExpression` error when running over our large non-TS codebase - it seems to choke on optional chaining operators `?.`.

By telling the codemod to treat the code as Typescript it worked though.

[2020-10-15 02:50] billyjanitsch commented on #277
Hi @lunaruan, thank you for adding the option! Is it possible to publish a new version of the package so that it can be used? Thanks!

[2020-10-15 03:14] yoyo837 opened #279 "Cannot find module 'core-js/modules/web.dom.iterable'"
Run :
` npx react-codemod update-react-imports`

It report:

![image](https://user-images.githubusercontent.com/6134547/96072765-90800a80-0ed7-11eb-86a2-f9285b39dae3.png)

[2020-10-20 23:34] gaearon commented on #277
released

[2020-10-20 23:34] #277 closed

[2020-10-21 13:20] Jairwin-L opened #280 "'React' refers to a UMD global, but the current file is a module. Consider adding an import instead."
Run :
`npx react-codemod update-react-imports`
It report:
![image](https://user-images.githubusercontent.com/32570960/96725196-3acdc580-13e3-11eb-945d-aa0c07d157f7.png)

[2020-10-22 08:49] tpettrov opened #281 "update-react-imports changes line endings (LF -> CRLF)"
I recently started update-react-imports and it works as expected but re-wrote the line endings from LF to CRLF, probably because I'm on Windows but would expect that it doesn't change them if possible.

[2020-10-22 09:58] wojtekmaj commented on #279
I have a very similar error...

<img width="611" alt="obraz" src="https://user-images.githubusercontent.com/5426427/96856095-d7cd4480-145d-11eb-8797-1541bd403ce7.png">

[2020-10-22 10:18] threepointone opened #282 "RFC: npx react-codemod ./path/to/local/codemod"
The cli experience of react-codemod is quite nice, and has made running codemods on react codebases very pleasant/accessible. Occasionally this repo will get a request to add a new type of codemod (or I'll hear about it on twitter), and the suggestion is that they use jscodeshift directly for their requirements. Which is fine, but means they have to rediscover some of the cli args that we pass to

[2020-10-22 10:20] threepointone commented on #279
Can i recommend trying running this from _outside_ the codebase? So, instead of
[code]

try
[code]

[2020-10-22 10:21] threepointone commented on #281
This is functionality from jscodeshift, so the issue should probably be filed there. However, one of the assumptions we have about people running codemods, is that they also run something like prettier (or whatever your code formatter is) manually after running the codemod. Does that advice seem reasonable in this case?

[2020-10-22 10:28] yoyo837 commented on #279
I got this:

[code]

[2020-10-22 13:24] tpettrov commented on #281
Advice is reasonable due to the fact that the issue should probably be filled to jscodeshift :) Thank you.

[2020-10-23 09:32] anilanar commented on #249
Google brought me here and @jasontk19's answer helped.

**TL;DR:** Run `npx react-codemod` outside your project's directory.

If you don't, `react-codemod` uses dependencies inside your `node_modules` which most likely won't work.

[2020-10-26 19:36] anark opened #283 "update-react-imports adds extra import * from React"
When an import is defined as

[code]
import { useState } from 'react';
import * as React from 'react';
[code]
import { useState } from 'react';
[code]

[2020-10-28 15:53] m-rutter commented on #283
Yeah, I've notice it does this in typescript projects if you use types like `React.ReactNode` or `React.ComponentType`.

[2020-10-30 06:31] gshilin opened #284 "update-react-imports: cb.apply is not a function"
On running
`npx react-codemod update-react-imports`
got the following error:
[code]

That's content of the log:
[code]

[2020-10-30 06:32] gshilin commented on #284
Node version: v12.19.0
React: 17.0

[2020-11-03 15:05] kelly-tock commented on #279
I used the force flag and @threepointone 's suggestion, worked for me.

[2020-11-03 15:26] kelly-tock commented on #283
same here

[2020-11-20 17:23] donavon opened #285 "Skipping files when running create-element-to-jsx"
When I run the following command, and select TypeScript, it finds 124 files but skips them all.

[code]

Here is a screenshot (abbreviated):

![image](https://user-images.githubusercontent.com/887639/99828988-b11c2f80-2b29-11eb-92b6-9c11d626961e.png)

Am I doing something wrong? I've changed some of them by hand and they compile just fine.

[2020-11-21 07:39] cseas commented on #280
I'm getting the same error with TypeScript. The [migration guide](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html#how-to-upgrade-to-the-new-jsx-transform) for React v17 doesn't mention anything about TypeScript and this seems to be a TypeScript error.

My setup:
"react": "^17.0.0",
"react-dom": "^17.0.0",
"react-scripts": "4.0.0",

[2020-11-24 03:54] monic-shixi commented on #283
+1
it will trigger `import/no-duplicates` lint.

[2020-11-26 09:23] dartess commented on #249
If the parent directory is not a git repository, you will need to add the flag `--force` to run `react-codemod`

[2020-11-30 08:02] ZKJGOLD opened #286 "'npx react-codemod update-react-imports' can’t update imports automatically."

[2020-12-01 09:51] davidnormo opened #287 "[pure-component] Parsing error: Identifier `props` has already been declared"
I'm raising this issue for awareness rather than an ask to fix as I spent some time trying to but found issues in recast which need resolving first.

### The Problem
When using the pure-component transform there is an error if a `props` variable has already been declared in the render method:
[code]
The above is transformed into:
[code]

### Investigation
- I dug in a bit and managed to resolve th

[2020-12-07 16:30] davidnormo commented on #287
Update: I've opened a PR here I'https://github.com/benjamn/ast-types/pull/455

[2020-12-15 19:55] colepeters commented on #279
For posterity/findability: I ran into this issue with the array error captured above (`Error: Cannot find module 'core-js/modules/es.array.filter'`). I had to run the codemod from outside the project directory and with the `--force` flag to get it to work, but work it did!

[2021-01-21 17:30] brayfe commented on #287
Running into this issue today using the pure-component transform to update React from 15.6 => 16.8.  Is the solution here to wait until the above PR is merged?  Any guidance would be highly appreciated!

[2021-01-22 11:06] davidnormo commented on #287
@brayfe the PR is a bit stuck at the moment dealing with hoisting within scopes...

But my changes that fixed my trivial case are here: https://github.com/davidnormo/react-codemod/tree/pure-component-fix
Just beware that it may break some cases if the props variable is inside a block.

[2021-02-06 16:22] AngryBotIY commented on #283
Any updates here?

Also... How I can clean React imports easily, if codemod can't do this?

[2021-02-25 02:43] henryqdineen commented on #280
We ran into this also: https://devblogs.microsoft.com/typescript/announcing-typescript-4-1/#react-17-jsx-factories

[2021-03-06 13:36] Jairwin-L commented on #280
ok
[code]

[2021-03-17 22:01] milesj commented on #283
Bumping this.

[2021-03-24 15:55] oleggrishechkin opened #288 "[pure-component] Transformation error (Could not replace path)"
I have `PureComponent` only with `static propTypes` and `render`

I run
[code]

and I get error

[code]

Component code example:

[code]

[2021-03-27 12:22] #265 closed

[2021-04-07 12:46] lexanth commented on #283
For me at least, this was in a typescript project when using React as a namespace for types. The issue in the codemod is that it isn't handling `TSQualifiedName` the same as `QualifiedTypeIdentifier`.

I've modded the codemod to do what I needed (someone could probably make a PR of this)
[code]

Usage:
[code]

[2021-04-27 16:44] davidtingsu opened #291 "Render Prop Expression to Child Component Transformer code"
I have working code to make the render prop expression as a child component.

 Please let me know if this transformer code would be useful to add to the react-codemod code base.

My use case was that the Formik library is deprecating the use of render prop in their API.
 https://formik.org/docs/api/formik#render-props-formikpropsvalues--reactnode

  https://astexplorer.net/#/gist/d3df017f80a840c55

[2021-06-08 03:50] tnagorra commented on #288
Can confirm! It does work if you remove all the static properties.

[2021-06-15 21:42] chandrarishabh commented on #280
how to use JSX transforms with TypeScript3.9? Any leads?

[2021-06-16 16:48] cseas commented on #280
If you're talking about the new jsx transform that comes with react v17, that's only supported in TypeScript 4.1+
https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-1.html#react-17-jsx-factories

[2021-07-06 17:42] cbranch101 opened #298 "Exposing utils / helpers in some way"
We're considering creating our own React code, and it seems like a lot of the legwork you've done in this repo would be useful to build off of, would it be possible to bundle up and export the contents of the utils file and maybe a few other useful functions in an index file and add a main.js to the package.json?

[2021-07-06 17:44] cbranch101 commented on #298
Of course copypasta is an option, but it seems like it might be cool if there was a core api for creating react code mods

[2021-07-26 10:35] hieuhoangtrung commented on #283
thanks @lexanth for your code. Just needs to update the usage to specify the param `--parser=tsx`. But there are some cases have been skipped with my codebase, may need to look deeper to improve your code

[2021-07-29 17:39] binhind opened #299 "Duplicate of https://github.com/reactjs/react-codemod/pull/295"
Duplicate of https://github.com/reactjs/react-codemod/pull/295

_Originally posted by @arcanis in https://github.com/reactjs/react-codemod/issues/297#issuecomment-871385369_

[2021-07-29 17:39] #299 closed

[2021-09-01 01:15] JelleZijlstra commented on #257
Not sure why this was closed; I still see the same issue. I looked into this for a bit and found that `isRenderMethod` needs to check for the `ClassMethod` type in addition to `MethodDefinition`. But that's not enough: it expects a `.value` attribute on the method, but `ClassMethod` doesn't have those. After I fix that too, I get an `Error: Could not replace path`.

[2021-10-13 12:33] vaibhavjagdale commented on #207
I am also getting the same issue and can be solved with --parser.

npx jscodeshift -t ./node_modules/@wdio/codemod/protractor **--parser=ts** ./test/specs/first-test.spec.ts

[2021-11-29 17:46] #258 closed

[2022-02-18 20:34] kylemh opened #306 "Strange output from React-PropTypes-to-prop-types"
I'm usually more descriptive about my issues, but not much I can really say! I ran `npx react-codemod React-PropTypes-to-prop-types ./src` and basically my machine bricks and starts spitting out some fun ASCII art 😂

<img width="1283" alt="Screen Shot 2022-02-18 at 3 29 54 PM" src="https://user-images.githubusercontent.com/9523719/154756913-66b3b6c7-5c48-4b24-9592-a6e1df8cbc58.png">

I'm using the

[2022-03-17 08:22] sy19971224 commented on #306
Did you solve this problem please?

[2022-03-17 14:30] kylemh commented on #306
Yes! I figured out the problem. This dep uses `jscodeshift` which uses `colors.js` and that package was deliberately sabotaged: https://github.com/Marak/colors.js/issues/285.

If you force the resolution of `colors.js` to be a lower version, you should be able to work.

[2022-03-30 15:26] rao123dk opened #307 "Add support for React 18 features"
Possible Add
-  **Updates to Client Rendering API (React 18)**
[code]

[code]

Note:- Its is useful for someone who is following micro-frontend architecture.

[2022-04-14 10:59] parthakshay commented on #254
try `npx react-codemod rename-unsafe-lifecycles` it'll work

[2022-08-24 11:05] alirezamirian commented on #298
react-codemod is two things now:
- A bunch of jscodeshift transforms
- A CLI to run the transforms

The CLI has some nice features like checking git status, dry run, etc. which is relevant regardless of the transform.
Letting the CLI be used with custom transforms allows others to leverage those features without redoing the same, in a custom CLI tool.
This seems feasible with a minor change in rea

[2022-11-06 11:24] ariv797 commented on #125
@sarink and @feonit, How did you fix the issue?